<template>
  <div id="notification-container">
    <div class="container">
      <transition-group name="fade" tag="div">
        <div
          v-for="n of notifications"
          :key="`notif-${n.id}`"
          :class="notificationClass(n)"
        >
          <button
            class="delete"
            @click.prevent="dismissNotification(n.id)"
          ></button>
          {{ n.title }}
        </div>
      </transition-group>
    </div>
  </div>
</template>

<script>
export default {
  name: "NotificationContainer",
  data: function() {
    return {
      notifications: [],
      id: 0
    };
  },
  beforeMount() {
    this.$parent.$on("show", this.showNotification);
  },
  beforeDestroy() {
    this.$parent.$off("show", this.showNotification);
  },
  methods: {
    notificationClass(n) {
      const cls = {
        notification: true,
        "is-light": true
      };
      if (n.color) {
        cls[`is-${n.color}`] = true;
      }
      return cls;
    },
    showNotification(notification) {
      const { title, color, timeout } = notification;

      const id = this.id;
      this.notifications.push({ title, color, id });
      if (timeout) {
        setTimeout(() => this.dismissNotification(id), timeout);
      }
      this.id += 1;
    },
    dismissNotification(id) {
      this.notifications = this.notifications.filter(n => n.id !== id);
    }
  }
};
</script>

<style lang="scss" scoped>
@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/elements/container.sass";
@import "~bulma/sass/elements/notification.sass";

#notification-container {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;

  z-index: 1000000;

  pointer-events: none;

  .container {
    pointer-events: none;

    padding: $notification-padding;

    .notification {
      pointer-events: all;
    }
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
