<template>
  <div class="container">
    <div class="card">
      <div class="card-content">
        <div class="level">
          <div class="level-left">
            <div class="level-item"></div>
          </div>
          <div class="level-item">
            <button class="button is-primary is-outlined is-static">
              {{ $tc("admin.user.countuser", displayedUsers.length) }}
            </button>
          </div>
          <div class="level-right">
            <div class="level-item">
              <div
                class="dropdown"
                :class="{ 'is-active': filterGroupDropdown }"
              >
                <div class="dropdown-trigger">
                  <button
                    class="button"
                    @click.prevent="toggleFilterDropdown('filterGroupDropdown')"
                    aria-haspopup="true"
                    aria-controls="group-filter"
                  >
                    <span>{{ $t("admin.user.group") }}</span>
                    <span class="icon is-small has-text-primary">
                      <font-awesome-icon
                        :icon="filterGroupDropdown ? 'angle-up' : 'angle-down'"
                      />
                    </span>
                  </button>
                </div>
                <div class="dropdown-menu" id="group-filter" role="menu">
                  <div class="dropdown-content">
                    <a
                      class="dropdown-item"
                      @click.prevent="onClickFilterClear('filterGroup')"
                    >
                      <span class="icon is-small has-text-primary">
                        <font-awesome-icon icon="times"></font-awesome-icon>
                      </span>
                      {{ $t("admin.user.clearfilter") }}
                    </a>
                    <hr class="dropdown-divider" />
                    <a
                      class="dropdown-item"
                      v-for="group in groups"
                      :key="group"
                      :class="{
                        'is-active': filterGroup.includes(group)
                      }"
                      @click.prevent="toggleFilter('filterGroup', group)"
                    >
                      {{ group }}
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="level-item">
              <div class="field has-addons">
                <p class="control has-icons-left">
                  <input
                    v-model="searchInput"
                    class="input"
                    type="text"
                    :placeholder="$t('admin.user.search')"
                  />
                  <span class="icon is-small is-left">
                    <font-awesome-icon icon="search"> </font-awesome-icon>
                  </span>
                </p>
                <p class="control">
                  <button
                    class="button"
                    :disabled="searchInput === ''"
                    @click.prevent="onClickSearchClear"
                  >
                    <font-awesome-icon
                      icon="times"
                      class="has-text-primary"
                    ></font-awesome-icon>
                  </button>
                </p>
              </div>
            </div>
          </div>
        </div>
        <admin-user
          v-for="user in displayedUsers"
          :key="user.uuid"
          :user="user"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import AdminUser from "@/components/AdminUser.vue";
import { GROUPS } from "@/constants";

export default {
  name: "AdminUsers",
  components: {
    AdminUser
  },
  data() {
    return {
      users: [],
      searchInput: "",
      filterGroupDropdown: false,
      filterGroup: []
    };
  },
  computed: {
    ...mapGetters(["isAdmin"]),
    groups: function() {
      return GROUPS;
    },
    displayedUsers: function() {
      const searchFilter = u =>
        u.name?.toLowerCase().includes(this.searchInput.toLowerCase()) ||
        u.email?.toLowerCase().includes(this.searchInput.toLowerCase());

      let groupFilter = () => 1;
      if (this.filterGroup.length > 0) {
        groupFilter = u => this.filterGroup.includes(u.role);
      }

      return this.users.filter(searchFilter).filter(groupFilter);
    }
  },
  methods: {
    onClickSearchClear() {
      this.searchInput = "";
    },
    toggleFilterDropdown(dropdown) {
      this[dropdown] = !this[dropdown];
    },
    toggleFilter(filter, value) {
      const index = this[filter].indexOf(value);
      if (index > -1) {
        this[filter].splice(index, 1);
      } else {
        this[filter].push(value);
      }
    },
    onClickFilterClear(filter) {
      this[filter] = [];
    }
  },
  async created() {
    this.users = await this.$workoutroutine.listUsers();
  }
};
</script>
