<template>
  <div class="container">
    <div class="card">
      <div class="card-content">
        <admin-exercise-change
          v-for="(exerciseChange, index) in exerciseChanges"
          :key="exerciseChange.id"
          :exercise="exerciseChange"
          v-on:remove-exercise-change="removeItem(index)"
        />
        <br />
      </div>
    </div>
  </div>
</template>

<script>
import AdminExerciseChange from "@/components/AdminExerciseChange.vue";

export default {
  name: "AdminExerciseChanges",
  components: {
    AdminExerciseChange
  },
  data() {
    return {
      exerciseChanges: []
    };
  },
  methods: {
    removeItem(exerciseChangeIdx) {
      if (exerciseChangeIdx > -1) {
        this.exerciseChanges.splice(exerciseChangeIdx, 1);
      }
    }
  },
  async created() {
    this.exerciseChanges = await this.$workoutroutine.listExerciseChanges();
  }
};
</script>
