<template>
  <article class="media is-hoverable">
    <div class="media-left">
      <figure class="image is-48x48">
        <img class="is-rounded" :src="user.icon" />
      </figure>
    </div>
    <div class="media-content">
      <p>
        <strong>{{ user.name }}</strong>
        <br />
        {{ user.email }}
      </p>
    </div>
    <div class="media-right">
      <a class="icon" @click="openModal" v-if="isAdmin">
        <font-awesome-icon icon="edit" />
      </a>
      <admin-user-modal :active.sync="modalIsActive" :user="user" />
    </div>
  </article>
</template>

<script>
import { mapGetters } from "vuex";
import AdminUserModal from "@/components/AdminUserModal.vue";

export default {
  name: "AdminUser",
  props: {
    user: {
      type: Object,
      required: true
    }
  },
  components: {
    AdminUserModal
  },
  computed: {
    ...mapGetters(["isAdmin"])
  },
  data() {
    return {
      modalIsActive: false
    };
  },
  methods: {
    openModal() {
      this.modalIsActive = true;
    }
  }
};
</script>
