<template>
  <div class="container">
    <div class="card">
      <div class="card-content">
        <div class="level">
          <div class="level-left">
            <div class="level-item">
              <a
                class="button"
                @click.prevent="openModal"
                v-if="isCoach || isAdmin"
              >
                <span class="icon has-text-primary">
                  <font-awesome-icon icon="plus"></font-awesome-icon>
                </span>
                <span>
                  {{ $t("admin.exercise.create") }}
                </span>
              </a>
              <admin-exercise-modal
                :active.sync="modalCreateIsActive"
                :exercise="newExercise"
              />
            </div>
          </div>
          <div class="level-item">
            <button class="button is-primary is-outlined is-static">
              {{
                $tc("admin.exercise.countexercise", displayedExercises.length)
              }}
            </button>
          </div>
          <div class="level-right">
            <div class="level-item">
              <div
                class="dropdown"
                :class="{ 'is-active': filterFamilyDropdown }"
              >
                <div class="dropdown-trigger">
                  <button
                    class="button"
                    @click.prevent="
                      toggleFilterDropdown('filterFamilyDropdown')
                    "
                    aria-haspopup="true"
                    aria-controls="family-filter"
                  >
                    <span>{{ $t("admin.exercise.family") }}</span>
                    <span class="icon is-small has-text-primary">
                      <font-awesome-icon
                        :icon="filterFamilyDropdown ? 'angle-up' : 'angle-down'"
                      />
                    </span>
                  </button>
                </div>
                <div class="dropdown-menu" id="family-filter" role="menu">
                  <div class="dropdown-content">
                    <a
                      class="dropdown-item"
                      @click.prevent="onClickFilterClear('filterFamily')"
                    >
                      <span class="icon is-small has-text-primary">
                        <font-awesome-icon icon="times"></font-awesome-icon>
                      </span>
                      {{ $t("admin.exercise.clearfilter") }}
                    </a>
                    <hr class="dropdown-divider" />
                    <a
                      class="dropdown-item"
                      v-for="family in families"
                      :key="family.slug"
                      :class="{
                        'is-active': filterFamily.includes(family.slug)
                      }"
                      @click.prevent="toggleFilter('filterFamily', family.slug)"
                    >
                      {{ getNameByFamily(family.slug, $i18n.locale) }}
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="level-item">
              <div
                class="dropdown"
                :class="{ 'is-active': filterThemeDropdown }"
              >
                <div class="dropdown-trigger">
                  <button
                    class="button"
                    @click.prevent="toggleFilterDropdown('filterThemeDropdown')"
                    aria-haspopup="true"
                    aria-controls="theme-filter"
                  >
                    <span>{{ $t("admin.exercise.theme") }}</span>
                    <span class="icon is-small has-text-primary">
                      <font-awesome-icon
                        :icon="filterThemeDropdown ? 'angle-up' : 'angle-down'"
                      />
                    </span>
                  </button>
                </div>
                <div class="dropdown-menu" id="theme-filter" role="menu">
                  <div class="dropdown-content">
                    <a
                      class="dropdown-item"
                      @click.prevent="onClickFilterClear('filterTheme')"
                    >
                      <span class="icon is-small has-text-primary">
                        <font-awesome-icon icon="times"></font-awesome-icon>
                      </span>
                      {{ $t("admin.exercise.clearfilter") }}
                    </a>
                    <hr class="dropdown-divider" />
                    <a
                      class="dropdown-item"
                      v-for="theme in themes"
                      :key="theme.slug"
                      :class="{
                        'is-active': filterTheme.includes(theme.slug)
                      }"
                      @click.prevent="toggleFilter('filterTheme', theme.slug)"
                    >
                      {{ getNameByTheme(theme.slug, $i18n.locale) }}
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="level-item">
              <div class="field has-addons">
                <p class="control has-icons-left">
                  <input
                    v-model="searchInput"
                    class="input"
                    type="text"
                    :placeholder="$t('admin.exercise.search')"
                  />
                  <span class="icon is-small is-left">
                    <font-awesome-icon icon="search"> </font-awesome-icon>
                  </span>
                </p>
                <p class="control">
                  <button
                    class="button"
                    :disabled="searchInput === ''"
                    @click.prevent="onClickSearchClear"
                  >
                    <font-awesome-icon
                      icon="times"
                      class="has-text-primary"
                    ></font-awesome-icon>
                  </button>
                </p>
              </div>
            </div>
          </div>
        </div>
        <admin-exercise
          v-for="exercise in displayedExercises"
          :key="exercise.id"
          :exercise="exercise"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import AdminExercise from "@/components/AdminExercise.vue";
import AdminExerciseModal from "@/components/AdminExerciseModal.vue";
import { EMPTY_EXERCISE } from "@/constants";
import _ from "lodash";

export default {
  name: "AdminExercises",
  components: {
    AdminExercise,
    AdminExerciseModal
  },
  data() {
    return {
      exercises: [],
      newExercise: _.cloneDeep(EMPTY_EXERCISE),
      searchInput: "",
      filterFamilyDropdown: false,
      filterFamily: [],
      filterThemeDropdown: false,
      filterTheme: [],
      modalCreateIsActive: false
    };
  },
  computed: {
    ...mapGetters([
      "families",
      "getNameByFamily",
      "themes",
      "getNameByTheme",
      "isAdmin",
      "isCoach"
    ]),
    displayedExercises: function() {
      const searchFilter = w =>
        w.name?.en?.toLowerCase().includes(this.searchInput.toLowerCase()) ||
        w.name?.fr?.toLowerCase().includes(this.searchInput.toLowerCase());
      let familyFilter = () => 1;
      if (this.filterFamily.length > 0) {
        familyFilter = w => this.filterFamily.includes(w.family);
      }
      let themeFilter = () => 1;
      if (this.filterTheme.length > 0) {
        themeFilter = w => this.filterTheme.includes(w.theme);
      }
      return this.exercises
        .filter(searchFilter)
        .filter(familyFilter)
        .filter(themeFilter);
    }
  },
  methods: {
    onClickSearchClear() {
      this.searchInput = "";
    },
    toggleFilterDropdown(dropdown) {
      this[dropdown] = !this[dropdown];
    },
    toggleFilter(filter, value) {
      const index = this[filter].indexOf(value);
      if (index > -1) {
        this[filter].splice(index, 1);
      } else {
        this[filter].push(value);
      }
    },
    onClickFilterClear(filter) {
      this[filter] = [];
    },
    openModal() {
      this.modalCreateIsActive = true;
    }
  },
  async created() {
    this.exercises = await this.$workoutroutine.listExercises();
  }
};
</script>
