<template>
  <div class="modal" :class="{ 'is-active': active }">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title is-family-secondary">
          {{ $t("admin.user.modal.title") }}
        </p>
        <button
          class="delete"
          aria-label="close"
          @click.prevent="onCancel"
        ></button>
      </header>
      <section class="modal-card-body">
        <article class="media is-hoverable">
          <div class="media-left">
            <figure class="image is-48x48">
              <img class="is-rounded" :src="user.icon" />
            </figure>
          </div>
          <div class="media-content">
            <p>
              <strong>{{ user.name }}</strong>
              <br />
              {{ user.email }}
            </p>
            <hr />
            <div>
              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label">{{
                    $t("admin.user.modal.group")
                  }}</label>
                </div>
                <div class="field-body">
                  <div class="field">
                    <div class="control">
                      <div class="select">
                        <select v-model="userGroup">
                          <option value="">{{
                            $t("admin.user.modal.nogroup")
                          }}</option>
                          <option
                            v-for="group in groups"
                            :key="group"
                            :value="group"
                          >
                            {{ group }}
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </article>
      </section>
      <footer class="modal-card-foot">
        <a
          class="is-primary card-footer-item is-family-secondary"
          @click="onSubmit"
        >
          {{ $t("admin.user.modal.submit") }}
        </a>
        <a
          class="is-primary card-footer-item is-family-secondary"
          @click.prevent="onCancel"
        >
          {{ $t("admin.user.modal.cancel") }}
        </a>
      </footer>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import { Actions } from "@/store/user";
import { GROUPS } from "@/constants";
import _ from "lodash";

export default {
  name: "AdminUserModal",
  props: {
    active: {
      type: Boolean,
      required: false,
      default: true
    },
    user: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      userGroup: ""
    };
  },
  computed: {
    groups: function() {
      return GROUPS;
    }
  },
  methods: {
    onSubmit: function() {
      this.$workoutroutine.updateUserGroup({
        user: this.user,
        group: this.userGroup
      });
      this.$emit("update:active", false);
    },
    onCancel() {
      this.$emit("update:active", false);
    }
  },
  created() {
    this.userGroup = _.clone(this.user.role);
  }
};
</script>

<style lang="scss" scoped>
.modal-card-title {
  margin-bottom: 0px !important;
}
.modal-card-foot {
  padding: 0px !important;
  background-color: white;
}
.card-footer-item:hover {
  background-color: #ff3b00;
  color: white;
}
</style>
