<template>
  <article class="media is-hoverable">
    <div class="media-content">
      <p>
        <strong>{{ getLocalizedField(exercise.name, $i18n.locale) }}</strong>
        <br />
        {{ getLocalizedField(exercise.description, $i18n.locale) }}
      </p>
    </div>
    <div class="media-right">
      <a class="icon" @click="openModal" v-if="isAdmin">
        <font-awesome-icon icon="edit" class="fas fa-lg" />
      </a>
    </div>
    <admin-exercise-modal :active.sync="modalIsActive" :exercise="exercise">
    </admin-exercise-modal>
  </article>
</template>

<script>
import { mapGetters } from "vuex";
import { getLocalizedField } from "@/locales/supported-locales";
import AdminExerciseModal from "@/components/AdminExerciseModal.vue";

export default {
  name: "AdminExercise",
  components: {
    AdminExerciseModal
  },
  props: {
    exercise: {
      type: Object,
      required: true
    }
  },
  computed: {
    ...mapGetters(["isAdmin"])
  },
  data() {
    return {
      modalIsActive: false
    };
  },
  methods: {
    getLocalizedField(field, locale) {
      return getLocalizedField(field, locale);
    },
    openModal() {
      this.modalIsActive = true;
    }
  }
};
</script>
