<template>
  <div class="modal" :class="{ 'is-active': active }">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title is-family-secondary">
          {{ titleText }}
        </p>
        <button
          class="delete"
          aria-label="close"
          @click.prevent="onCancel"
        ></button>
      </header>
      <section class="modal-card-body">
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">{{ $t("admin.exercise.modal.name") }}</label>
          </div>
          <div class="field-body">
            <div class="field is-expanded">
              <div class="field has-addons">
                <p class="control">
                  <a class="button is-static">en</a>
                </p>
                <p class="control is-expanded">
                  <input
                    class="input"
                    type="text"
                    v-model="localExercise.name.en"
                  />
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label"></label>
          </div>
          <div class="field-body">
            <div class="field is-expanded">
              <div class="field has-addons">
                <p class="control">
                  <a class="button is-static">fr</a>
                </p>
                <p class="control is-expanded">
                  <input
                    class="input"
                    type="text"
                    v-model="localExercise.name.fr"
                  />
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">{{
              $t("admin.exercise.modal.description")
            }}</label>
          </div>
          <div class="field-body">
            <div class="field is-expanded">
              <div class="field has-addons">
                <p class="control">
                  <a class="button is-static">en</a>
                </p>
                <p class="control is-expanded">
                  <textarea
                    class="textarea"
                    v-model="localExercise.description.en"
                  >
                  </textarea>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label"></label>
          </div>
          <div class="field-body">
            <div class="field is-expanded">
              <div class="field has-addons">
                <p class="control">
                  <a class="button is-static">fr</a>
                </p>
                <p class="control is-expanded">
                  <textarea
                    class="textarea"
                    v-model="localExercise.description.fr"
                  >
                  </textarea>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">{{
              $t("admin.exercise.modal.midtime")
            }}</label>
          </div>
          <div class="field-body">
            <div class="field is-expanded">
              <div class="control">
                <input type="checkbox" v-model="localExercise.midtime" />
                <small> {{ $t("admin.exercise.modal.midtime_help") }}</small>
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">{{ $t("admin.exercise.modal.family") }}</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <div class="select is-fullwidth">
                  <select v-model="localExercise.family">
                    <option
                      v-for="family in families"
                      :key="family.slug"
                      :value="family.slug"
                      >{{ getNameByFamily(family.slug, $i18n.locale) }}</option
                    >
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">{{ $t("admin.exercise.modal.theme") }}</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <div class="select is-fullwidth">
                  <select v-model="localExercise.theme">
                    <option
                      v-for="theme in themes"
                      :key="theme.slug"
                      :value="theme.slug"
                      >{{ getNameByTheme(theme.slug, $i18n.locale) }}</option
                    >
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <footer class="modal-card-foot">
        <a
          v-if="isCoach || isAdmin"
          class="is-primary card-footer-item is-family-secondary"
          @click.prevent="onSubmit"
        >
          {{ submitButtonText }}
        </a>
        <a
          class="is-primary card-footer-item is-family-secondary"
          @click.prevent="onCancel"
        >
          {{ $t("admin.exercise.modal.cancel") }}
        </a>
      </footer>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import _ from "lodash";

export default {
  name: "AdminExerciseModal",
  props: {
    active: {
      type: Boolean,
      required: false,
      default: true
    },
    exercise: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      localExercise: {}
    };
  },
  computed: {
    ...mapGetters([
      "families",
      "themes",
      "getNameByFamily",
      "getNameByTheme",
      "isCoach",
      "isAdmin"
    ]),
    titleText: function() {
      let text = "admin.exercise.modal.create";
      if (this.localExercise.id !== null) {
        text = "admin.exercise.modal.update";
      }
      return this.$t(text);
    },
    submitButtonText: function() {
      let text = "admin.exercise.modal.submit.create";
      if (this.localExercise.id !== null) {
        text = "admin.exercise.modal.submit.update";
      }
      return this.$t(text);
    }
  },
  methods: {
    async onSubmit() {
      await this.$workoutroutine.submitExerciseChange(this.localExercise);
      let message = this.$t("admin.exercise.modal.notification.submit");
      if (this.localExercise.id !== null) {
        message = this.$t("admin.exercise.modal.notification.update");
      }
      this.$notification({
        title: message,
        color: "success",
        timeout: 3000
      });
      this.localExercise = _.cloneDeep(this.exercise);
      this.$emit("update:active", false);
    },
    onCancel() {
      this.$emit("update:active", false);
    }
  },
  created() {
    this.localExercise = _.cloneDeep(this.exercise);
  }
};
</script>
<style lang="scss" scoped>
.modal-card-foot {
  padding: 0px !important;
  background-color: white;
}
.card-footer-item:hover {
  background-color: #ff3b00;
  color: white;
}
</style>
