<template>
  <article class="media is-hoverable">
    <div class="media-content">
      <table class="table is-hoverable is-fullwidth is-bordered">
        <thead>
          <tr>
            <th v-if="hasParent">{{ $t("admin.exercisechange.before") }}</th>
            <th v-if="hasParent">{{ $t("admin.exercisechange.after") }}</th>
            <th v-if="!hasParent">{{ $t("admin.exercisechange.new") }}</th>
          </tr>
        </thead>
        <tbody>
          <tr
            :class="{
              'is-selected':
                hasParent && localParent.name.en !== exercise.name.en
            }"
          >
            <td v-if="hasParent">{{ localParent.name.en }}</td>
            <td>{{ exercise.name.en }}</td>
          </tr>
          <tr
            :class="{
              'is-selected':
                hasParent && localParent.name.fr !== exercise.name.fr
            }"
          >
            <td v-if="hasParent">{{ localParent.name.fr }}</td>
            <td>{{ exercise.name.fr }}</td>
          </tr>
          <tr
            :class="{
              'is-selected':
                hasParent &&
                localParent.description.en !== exercise.description.en
            }"
          >
            <td v-if="hasParent">{{ localParent.description.en }}</td>
            <td>{{ exercise.description.en }}</td>
          </tr>
          <tr
            :class="{
              'is-selected':
                hasParent &&
                localParent.description.fr !== exercise.description.fr
            }"
          >
            <td v-if="hasParent">{{ localParent.description.fr }}</td>
            <td>{{ exercise.description.fr }}</td>
          </tr>
          <tr
            :class="{
              'is-selected':
                hasParent && localParent.midtime !== exercise.midtime
            }"
          >
            <td v-if="hasParent">
              {{
                $t("admin.exercisechange.midtime", {
                  midtime: localParent.midtime
                })
              }}
            </td>
            <td>
              {{
                $t("admin.exercisechange.midtime", {
                  midtime: exercise.midtime
                })
              }}
            </td>
          </tr>
          <tr
            :class="{
              'is-selected': hasParent && localParent.family !== exercise.family
            }"
          >
            <td v-if="hasParent">
              {{ getNameByFamily(localParent.family, $i18n.locale) }}
            </td>
            <td>{{ getNameByFamily(exercise.family, $i18n.locale) }}</td>
          </tr>
          <tr
            :class="{
              'is-selected': hasParent && localParent.theme !== exercise.theme
            }"
          >
            <td v-if="hasParent">
              {{ getNameByTheme(localParent.theme, $i18n.locale) }}
            </td>
            <td>{{ getNameByTheme(exercise.theme, $i18n.locale) }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="media-right">
      <a class="icon is-medium" @click.prevent="onApply" v-if="isAdmin">
        <font-awesome-icon icon="check-square" class="fas fa-2x" />
      </a>
      <br />
      <a class="icon is-medium" @click.prevent="onDiscard" v-if="isAdmin">
        <font-awesome-icon icon="window-close" class="fas fa-2x" />
      </a>
    </div>
  </article>
</template>

<script>
import { mapGetters } from "vuex";
import { getLocalizedField } from "@/locales/supported-locales";
import { EMPTY_EXERCISE } from "@/constants";
import _ from "lodash";

export default {
  name: "AdminExerciseChange",
  props: {
    exercise: {
      type: Object,
      required: true
    }
  },
  computed: {
    ...mapGetters(["getNameByFamily", "getNameByTheme", "isAdmin"])
  },
  data() {
    return {
      hasParent: false,
      localParent: _.cloneDeep(EMPTY_EXERCISE)
    };
  },
  methods: {
    async onApply() {
      await this.$workoutroutine.applyExerciseChange(
        this.exercise,
        this.hasParent
      );
      this.$notification({
        title: this.$t("admin.exercisechange.notification.apply"),
        color: "success",
        timeout: 3000
      });
      this.$emit("remove-exercise-change");
    },
    async onDiscard() {
      await this.$workoutroutine.discardExerciseChange(this.exercise.id);
      this.$notification({
        title: this.$t("admin.exercisechange.notification.discard"),
        color: "success",
        timeout: 3000
      });
      this.$emit("remove-exercise-change");
    },
    getLocalizedField(field, locale) {
      return getLocalizedField(field, locale);
    }
  },
  created() {
    if (_.has(this.exercise.parent, "name")) {
      this.localParent = this.exercise.parent;
      this.hasParent = true;
    }
  }
};
</script>
