<template>
  <div class="card">
    <header class="card-header">
      <p class="card-header-title is-family-secondary">
        {{ $t("builder.configure.title") }}
      </p>
      <a class="card-header-icon" @click.prevent="onToggle">
        <span class="icon">
          <font-awesome-icon :icon="isOpen ? 'angle-up' : 'angle-down'" />
        </span>
      </a>
    </header>
    <div class="card-content" v-if="isOpen">
      <div class="field">
        <label class="label is-small">{{
          $t("builder.configure.question_length")
        }}</label>
        <div class="control">
          <input
            class="input is-small"
            type="text"
            placeholder="10"
            v-model="size"
          />
        </div>
      </div>
      <div class="field">
        <label class="label is-small">{{
          $t("builder.configure.question_family")
        }}</label>
        <div class="control">
          <div class="select is-multiple is-small is-fullwidth">
            <select multiple size="6" v-model="selected_families">
              <option
                v-for="family in families"
                :key="family.slug"
                :value="family.slug"
                >{{ getNameByFamily(family.slug, $i18n.locale) }}</option
              >
            </select>
          </div>
        </div>
      </div>
      <div class="field">
        <label class="label is-small">{{
          $t("builder.configure.question_theme")
        }}</label>
        <div class="control">
          <div class="select is-multiple is-small is-fullwidth">
            <select multiple size="3" v-model="selected_themes">
              <option
                v-for="theme in themes"
                :key="theme.slug"
                :value="theme.slug"
                >{{ getNameByTheme(theme.slug, $i18n.locale) }}</option
              >
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <a
        class="card-footer-item-text card-footer-item is-primary"
        @click.prevent="onSubmit"
      >
        <span class="icon is-medium"><font-awesome-icon icon="magic"/></span>
        <span class="is-family-secondary">{{
          $t("builder.configure.button_create")
        }}</span>
      </a>
    </div>
  </div>
</template>

<script>
import eventBus from "@/eventBus";
import { EVENTS, STAT_EVENTS } from "@/constants";
import { mapGetters } from "vuex";
import {
  Actions as routineActions,
  Mutations as routineMutations
} from "@/store/routine";
import { Mutations as userMutations } from "@/store/user";
import _ from "lodash";

const updateDataWithPreferences = function(self) {
  let hasChanged = false;
  if (self.preferences?.CONFIGURE_DEFAULT_SIZE !== undefined) {
    self.size = self.preferences.CONFIGURE_DEFAULT_SIZE;
    hasChanged = true;
  }
  if (self.preferences?.CONFIGURE_DEFAULT_FAMILY !== undefined) {
    self.selected_families = self.preferences.CONFIGURE_DEFAULT_FAMILY;
    hasChanged = true;
  }
  if (self.preferences?.CONFIGURE_DEFAULT_THEME !== undefined) {
    self.selected_themes = self.preferences.CONFIGURE_DEFAULT_THEME;
    hasChanged = true;
  }
  if (
    self.preferences?.CONFIGURE_DEFAULT_SIZE !== undefined &&
    self.preferences?.CONFIGURE_DEFAULT_FAMILY !== undefined &&
    self.preferences?.CONFIGURE_DEFAULT_THEME !== undefined
  ) {
    self.isOpen = false;
  }
  return hasChanged;
};

export default {
  name: "Configure",
  computed: {
    ...mapGetters([
      "safe_id",
      "routine_size",
      "configuration",
      "families",
      "getNameByFamily",
      "themes",
      "getNameByTheme",
      "me",
      "preferences"
    ])
  },
  data() {
    return {
      size: 10,
      selected_families: [],
      selected_themes: ["fitness"],
      isOpen: true
    };
  },
  methods: {
    onSubmit: function() {
      this.$store
        .dispatch(routineActions.GENERATE_ROUTINE, {
          size: this.size,
          family: this.selected_families,
          theme: this.selected_themes
        })
        .then(() => {
          this.$router.push({
            name: "routine",
            params: { routine_id: this.safe_id }
          });
          if (this.$auth.isAuthenticated && this.preferences?.TRACK_ACTIVITY) {
            this.$workoutroutine.submitStatEvent({
              user_uuid: this.me?.uuid,
              event_type: STAT_EVENTS.ROUTINE_GENERATED,
              event_detail: {
                size: parseInt(this.size),
                family: this.selected_families,
                theme: this.selected_themes
              }
            });
          }
          eventBus.$emit(EVENTS.GENERATE_ROUTINE);
        });
    },
    onToggle: function() {
      this.isOpen = !this.isOpen;
    }
  },
  created() {
    updateDataWithPreferences(this);
    if (
      this.$route.name === "home" &&
      this.$route.params?.routine_id === undefined
    ) {
      this.onSubmit();
    }
  },
  beforeCreate() {
    this.storeSubscribe = this.$store.subscribe((mutation, state) => {
      if (mutation.type === userMutations.UPDATE_USER) {
        if (updateDataWithPreferences(this)) {
          if (
            this.$route.name === "home" &&
            this.$route.params?.routine_id === undefined
          ) {
            this.onSubmit();
          }
        }
      }
    });
  }
};
</script>

<style scoped>
.card {
  margin-bottom: 6px;
}
.card-footer-item-text {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}
.card-footer-item {
  padding: 0;
}
.card-footer-item:hover {
  background-color: #ff3b00;
  color: white;
}
</style>
