<template>
  <div class="column">
    <div class="card" id="about">
      <div class="card-content">
        <p class="title">{{ $t("about.title") }}</p>
        <div class="content">
          <p v-html="$t('about.claim.1')"></p>
          <p v-html="$t('about.claim.2')"></p>
          <p v-html="$t('about.claim.3')"></p>
          <p>{{ $t("about.claim.4") }}</p>
          <figure class="image">
            <img src="@/assets/workoutroutine-sticker.png" />
          </figure>
          <br />
          <p class="subtitle is-size-3">{{ $t("about.history.title") }}</p>
          <p v-html="$t('about.history.1')"></p>
          <p v-html="$t('about.history.2')"></p>
          <p v-html="$t('about.history.3')"></p>
          <br />
          <p class="subtitle is-size-3">{{ $t("about.product.title") }}</p>
          <p v-html="$t('about.product.1')"></p>
          <p v-html="$t('about.product.2')"></p>
          <p v-html="$t('about.product.3')"></p>
          <p v-html="$t('about.product.4')"></p>
          <br />
          <p class="subtitle is-size-3">{{ $t("about.data_policy.title") }}</p>
          <p v-html="$t('about.data_policy.body')"></p>
          <br />
          <p class="subtitle is-size-3">{{ $t("about.thanks.title") }}</p>
          <p v-html="$t('about.thanks.body')"></p>
          <br />
          <p class="subtitle is-size-3">
            {{ $t("about.resource_list.title") }}
          </p>
          <p v-html="$t('about.resource_list.body')"></p>
          <br />
          <p class="subtitle is-size-3">{{ $t("about.tech_list.title") }}</p>
          <p v-html="$t('about.tech_list.intro')"></p>
          <p v-html="$t('about.tech_list.body')"></p>
        </div>
      </div>
      <footer class="card-content has-text-right">
        <p class="content has-text-right is-family-code is-size-7">
          {{ $t("about.version", { version: version }) }}
        </p>
      </footer>
    </div>
  </div>
</template>

<script>
export default {
  name: "Credit",
  data() {
    return {
      version: "x.x.x"
    };
  },
  async created() {
    this.version = await this.$workoutroutine.getVersion();
  }
};
</script>
