<template>
  <div
    id="t-item"
    class="timeline-item"
    :class="{ 'is-primary': current_exercise >= exercise_index }"
  >
    <div
      class="timeline-marker"
      id="t-marker"
      :class="{ 'is-primary': current_exercise >= exercise_index }"
    ></div>
    <div class="timeline-content" id="t-content">
      <article
        :id="exerciseReference(exercise_index)"
        class="media box"
        :class="{
          'exercise-active':
            current_exercise === exercise_index && is_phase_exercise,
          'exercise-rest':
            current_exercise === exercise_index && !is_phase_exercise
        }"
      >
        <div class="media-left has-text-centered exercise-icon">
          <figure
            class="image is-64x64 is-inline-block"
            v-if="current_exercise !== exercise_index"
          >
            <span v-html="getLogoByFamily(exercise.family)"></span>
          </figure>
          <span
            class="has-text-primary is-family-secondary is-size-1"
            :class="{
              'rest-title':
                current_exercise === exercise_index && !is_phase_exercise
            }"
            v-if="current_exercise === exercise_index"
            >{{ timer }}<br
          /></span>
          <span
            class="has-text-primary is-family-secondary"
            v-html="getNameByFamily(exercise.family, $i18n.locale)"
            v-if="
              (current_exercise === exercise_index && is_phase_exercise) ||
                current_exercise !== exercise_index
            "
          ></span>
          <span
            class="has-text-white is-family-secondary"
            v-if="current_exercise === exercise_index && !is_phase_exercise"
            >{{ $t("routine.exercise.rest.title") }}</span
          >
        </div>
        <div class="media-content">
          <div class="content">
            <p
              class="title is-5"
              id="exercise_name"
              :class="{
                'rest-exercise':
                  current_exercise === exercise_index && !is_phase_exercise
              }"
            >
              {{ getLocalizedField(exercise.name, $i18n.locale) }}
            </p>
            <p
              :class="{
                'rest-exercise':
                  current_exercise === exercise_index && !is_phase_exercise
              }"
            >
              {{ getLocalizedField(exercise.description, $i18n.locale) }}
            </p>
          </div>
        </div>
        <div class="media-right">
          <a class="icon" v-if="isMyRoutine" @click.prevent="onRecycleExercise">
            <font-awesome-icon icon="recycle" />
          </a>
          <br />
          <a
            class="icon"
            v-if="isMyRoutine && exercise_index > 0"
            @click.prevent="onMoveExercise(-1)"
          >
            <font-awesome-icon icon="caret-up" />
          </a>
          <br />
          <a
            class="icon"
            v-if="isMyRoutine && exercise_index < routine_size - 1"
            @click.prevent="onMoveExercise(1)"
          >
            <font-awesome-icon icon="caret-down" />
          </a>
        </div>
      </article>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import { getLocalizedField } from "@/locales/supported-locales";
import {
  Mutations as routineMutations,
  Actions as routineActions
} from "@/store/routine";
import { Mutations as userMutations } from "@/store/user";

export default {
  name: "Exercise",
  props: [
    "timer",
    "exercise",
    "is_phase_exercise",
    "exercise_index",
    "current_exercise"
  ],
  data() {
    return {
      isMyRoutine: false
    };
  },
  computed: {
    ...mapGetters([
      "getLogoByFamily",
      "getNameByFamily",
      "author_uuid",
      "safe_id",
      "routine_size",
      "me"
    ])
  },
  methods: {
    getLocalizedField(field, locale) {
      return getLocalizedField(field, locale);
    },
    onRecycleExercise() {
      this.$store.dispatch(routineActions.RECYCLE_EXERCISE, {
        routine_id: this.safe_id,
        exercise_id: this.exercise.id,
        exercise_position: this.exercise_index
      });
    },
    onMoveExercise(direction) {
      this.$store.dispatch(routineActions.MOVE_EXERCISE, {
        routine_id: this.safe_id,
        exercise_id: this.exercise.id,
        exercise_position: this.exercise_index,
        direction: direction
      });
    },
    exerciseReference(exercise_index) {
      return "exercise_".concat(exercise_index);
    }
  },
  beforeCreate() {
    this.storeSubscribe = this.$store.subscribe((mutation, state) => {
      if (
        mutation.type === routineMutations.UPDATE_ROUTINE ||
        mutation.type === userMutations.UPDATE_USER
      ) {
        if (this.me !== null && this.author_uuid === this.me.uuid) {
          this.isMyRoutine = true;
        }
      }
    });
  }
};
</script>

<style lang="scss" scoped>
#exercise_name {
  margin-bottom: 6px;
}
#exercise {
  padding: 0.7rem;
  margin-top: 0px;
  margin-bottom: 6px;
}
.exercise-active {
  border: solid !important;
  border-color: #ff3b00 !important;
  margin-bottom: 3px;
}
.exercise-rest {
  border: dotted !important;
  border-color: #ff3b00 !important;
  background-color: #ff3b00 !important;
  margin-bottom: 3px;
}
.rest-title {
  color: #fff !important;
}
.rest-exercise {
  color: #ff3b00 !important;
}
.exercise-icon {
  width: 70px;
}
#t-item {
  margin-left: 0rem;
  padding-bottom: 0rem;
  align-items: center;
}
#t-content {
  padding: 0 0 6px 12px;
  width: 100%;
}
#t-marker {
  top: auto;
}
</style>
