<template>
  <SocialChat class="feedback">
    <p slot="header" class="is-family-secondary is-size-5">
      {{ $t("socialchat.title") }}
    </p>
    <template v-slot:body>
      <form name="feedback" @submit.prevent="onSubmit">
        <div class="field">
          <label class="label" for="email">
            {{ $t("socialchat.email") }}
          </label>
          <div class="control">
            <input
              v-model="feedback.email"
              name="email"
              type="email"
              class="input is-small"
            />
          </div>
        </div>
        <div class="field">
          <label class="label" for="body">
            <span>{{ $t("socialchat.body") }}</span>
          </label>
          <div class="control">
            <textarea
              class="textarea is-small"
              name="body"
              v-model="feedback.body"
            ></textarea>
          </div>
        </div>
        <button
          class="button is-primary is-fullwidth is-family-secondary"
          type="submit"
        >
          {{ $t("socialchat.submit") }}
        </button>
      </form>
    </template>
    <template v-slot:button>
      <span class="icon">
        <font-awesome-icon icon="envelope" class="fa-2x" />
      </span>
    </template>
  </SocialChat>
</template>
<script>
import { SocialChat } from "vue-social-chat";
import { mapGetters } from "vuex";
import { Mutations } from "@/store/user";

export default {
  name: "Feedback",
  components: {
    SocialChat
  },
  data: () => ({
    feedback: {
      email: "",
      body: ""
    }
  }),
  computed: {
    ...mapGetters(["me"])
  },
  methods: {
    async onSubmit() {
      const response = await this.$workoutroutine.submitServiceDesk(
        this.feedback.email,
        this.feedback.body
      );
      if (response) {
        const vm = this;
        this.$notification({
          title: vm.$t("socialchat.confirmation"),
          color: "success",
          timeout: 3000
        });
        vm.feedback = {
          email: "",
          body: ""
        };
      }
    }
  },
  created() {
    this.$store.subscribe(mutation => {
      if (
        mutation.type === Mutations.UPDATE_USER &&
        this.$auth.isAuthenticated
      ) {
        this.feedback.email = this.me.email;
      }
    });
  }
};
</script>
<style lang="scss" scoped>
.feedback {
  --vsc-bg-header: #ff3b00;
  --vsc-bg-button: #ff3b00;
  --vsc-outline-color: #ff3b00;
}
</style>
