<template>
  <footer class="footer">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <p class="subtitle is-6">
            {{ $t("footer.madewith") }}
            <font-awesome-icon
              class="fas fa-lg has-text-primary"
              icon="heart"
            />
            {{ $t("footer.madewhere") }}
          </p>
        </div>
        <div class="level-item">
          <a
            href="https://www.instagram.com/_workoutroutine/"
            target="_blank"
            class="icon is-medium"
          >
            <font-awesome-icon class="fas fa-lg" :icon="['fab', 'instagram']" />
          </a>
          <a href="https://twitter.com/_WorkoutRoutine" target="_blank"
            ><span class="icon is-medium"
              ><font-awesome-icon
                class="fa-lg"
                :icon="['fab', 'twitter']"/></span
          ></a>
          <a
            href="https://gitlab.com/workoutroutine/workoutroutine"
            target="_blank"
            ><span class="icon is-medium"
              ><font-awesome-icon
                class="fa-lg"
                :icon="['fab', 'gitlab']"/></span
          ></a>
        </div>
        <div class="level-item">
          <p class="subtitle is-6">
            &copy; {{ getCurrentYear }} WorkoutRoutine
          </p>
        </div>
      </div>
    </div>
  </footer>
</template>
<script>
export default {
  name: "Footer",
  computed: {
    getCurrentYear() {
      return new Date().getFullYear();
    }
  }
};
</script>
<style lang="less" scoped>
.footer {
  //   background-color: #ff3b00;
  padding: 2rem;
}
</style>
