<template>
  <nav class="navbar is-fixed-top is-primary" id="nav">
    <div class="navbar-brand">
      <router-link id="wr-brand" class="navbar-item" :to="{ name: 'home' }">
        <span>
          <WorkoutRoutineLogo class="logo" />
        </span>
        <span id="brandname" class="is-family-secondary">WorkoutRoutine</span>
      </router-link>

      <a
        role="button"
        class="navbar-burger burger"
        aria-label="menu"
        aria-expanded="false"
        data-target="navbarBulma"
        @click="isNavbarMenuOpen = !isNavbarMenuOpen"
        v-bind:class="{ 'is-active': isNavbarMenuOpen }"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div
      class="navbar-menu"
      id="navbarBulma"
      v-bind:class="{ 'is-active': isNavbarMenuOpen }"
    >
      <div class="navbar-end">
        <router-link
          v-if="isAdmin || isCoach"
          class="navbar-item is-family-secondary"
          :to="{ name: 'admin' }"
          :class="{ 'is-active': $route.name === 'admin' }"
          >{{ $t("nav.admin") }}</router-link
        >
        <router-link
          class="navbar-item is-family-secondary"
          :to="{ name: 'pricing' }"
          :class="{ 'is-pricing': $route.name === 'pricing' }"
          >{{ $t("nav.pricing") }}</router-link
        >
        <router-link
          class="navbar-item is-family-secondary"
          :to="{ name: 'about' }"
          :class="{ 'is-active': $route.name === 'about' }"
          >{{ $t("nav.about") }}</router-link
        >
        <nav-locale />
        <nav-login v-if="!$auth.isAuthenticated" />
        <nav-user v-if="$auth.isAuthenticated" />
      </div>
    </div>
  </nav>
</template>
<script>
import { mapGetters } from "vuex";
import NavLocale from "@/components/NavLocale";
import NavLogin from "@/components/NavLogin";
import NavUser from "@/components/NavUser";
import WorkoutRoutineLogo from "@/assets/workoutroutine-logo.svg";

export default {
  name: "Navbar",
  components: { NavLocale, NavLogin, NavUser, WorkoutRoutineLogo },
  computed: {
    ...mapGetters(["isAdmin", "isCoach"])
  },
  data() {
    return {
      isNavbarMenuOpen: false
    };
  }
};
</script>
<style lang="less" scoped>
#brandname {
  font-size: 1.5rem;
  color: #fff;
  margin-left: 10px;
}
#wr-brand {
  padding-bottom: 0px;
}
.logo {
  width: 48px;
  height: 36px;
}
</style>
