<template>
  <div class="navbar-item has-dropdown is-hoverable">
    <a class="navbar-link is-arrowless">
      <span class="icon is-medium">
        <font-awesome-icon icon="globe" class="fas" />
      </span>
      <span class="is-family-secondary">{{ $i18n.locale }}</span></a
    >
    <div class="navbar-dropdown is-right">
      <a
        v-for="locale in locales"
        :key="locale.code"
        class="navbar-item is-family-secondary is-primary"
        @click.prevent="setLocale(locale.code)"
        >{{ locale.name }}</a
      >
    </div>
  </div>
</template>

<script>
import { getSupportedLocales } from "@/locales/supported-locales";

export default {
  name: "NavLocale",
  data: () => ({ locales: getSupportedLocales() }),
  methods: {
    setLocale(locale) {
      this.$i18n.locale = locale;
    }
  }
};
</script>

<style lang="scss" scoped>
.navbar-dropdown {
  background-color: #ff3b00;
}
</style>
