<template>
  <a
    class="navbar-item navbar-link is-arrowless"
    @click.prevent="login"
    v-if="!$auth.isAuthenticated"
  >
    <span class="icon">
      <font-awesome-icon icon="user" />
    </span>
  </a>
</template>

<script>
export default {
  name: "NavLogin",
  computed: {},
  methods: {
    login() {
      this.$auth.loginWithRedirect();
    }
  }
};
</script>
