<template>
  <div
    class="navbar-item has-dropdown is-hoverable"
    v-if="!$auth.loading && $auth.isAuthenticated"
  >
    <a class="navbar-link is-arrowless">
      <figure class="image is-32x32">
        <img class="is-rounded" :src="$auth.user.picture" />
      </figure>
    </a>
    <div class="navbar-dropdown is-right">
      <router-link
        class="navbar-item is-family-secondary is-primary"
        :to="{ name: 'profile' }"
      >
        <span class="icon is-medium">
          <font-awesome-icon icon="id-card" class="fas" />
        </span>
        <span>{{ $t("nav.login.profile") }}</span>
      </router-link>
      <a class="navbar-item is-family-secondary is-primary" @click="logout">
        <span class="icon is-medium">
          <font-awesome-icon icon="sign-out-alt" class="fas" />
        </span>
        <span>{{ $t("nav.login.logout") }}</span>
      </a>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import { Actions, Mutations } from "@/store/user";

export default {
  name: "NavUser",
  computed: {
    ...mapGetters(["me", "preferences"])
  },
  methods: {
    // Log the user out
    logout() {
      this.$auth.logout({
        returnTo: window.location.origin
      });
    }
  },
  async created() {
    if (this.me === null && this.$auth?.isAuthenticated) {
      const user = await this.$auth.auth0Client.getUser();
      this.$store.dispatch(Actions.REGISTER_USER, JSON.stringify(user));
    }
  },
  beforeCreate() {
    this.storeSubscribe = this.$store.subscribe((mutation, state) => {
      if (mutation.type === Mutations.UPDATE_USER) {
        this.$notification({
          title: this.$t("nav.login.welcome", { username: this.me.name }),
          color: "info",
          timeout: 2000
        });
        if (this.preferences.PREFERRED_LANGUAGE !== undefined) {
          this.$i18n.locale = this.preferences.PREFERRED_LANGUAGE;
        }
      }
    });
  }
};
</script>

<style lang="scss" scoped>
.navbar-dropdown {
  background-color: #ff3b00;
}
</style>
