<template>
  <div class="column">
    <div class="card" id="about">
      <div class="card-content">
        <p class="title">{{ $t("pricing.title") }}</p>
        <div class="content">
          <p class="block">{{ $t("pricing.intro") }}</p>
        </div>
        <div class="content">
          <div class="pricing-table is-comparative">
            <div class="pricing-plan is-features">
              <div class="plan-header">{{ $t("pricing.features") }}</div>
              <div class="plan-price">
                <span class="plan-price-amount">
                  <span class="plan-price-currency">&nbsp;</span>
                </span>
              </div>
              <div class="plan-items">
                <div class="plan-item">
                  {{ $t("pricing.generate_routines") }}
                </div>
                <div class="plan-item">{{ $t("pricing.share_routines") }}</div>
                <div class="plan-item">{{ $t("pricing.play_routines") }}</div>
                <div class="plan-item">{{ $t("pricing.change_exercise") }}</div>
                <div class="plan-item">{{ $t("pricing.move_exercise") }}</div>
                <div class="plan-item">{{ $t("pricing.user_stats") }}</div>
                <div class="plan-item">
                  {{ $t("pricing.add_new_exercise") }}
                </div>
                <div class="plan-item">
                  {{ $t("pricing.save_routines") }}
                </div>
              </div>
              <div class="plan-footer">&nbsp;</div>
            </div>

            <div
              class="pricing-plan is-primary"
              :class="{ 'is-active': !$auth.isAuthenticated }"
            >
              <div class="plan-header">
                {{ $t("pricing.plans.unregistered") }}
              </div>
              <div class="plan-price">
                <span class="plan-price-amount">
                  <span class="plan-price-currency">&nbsp;</span>
                </span>
              </div>
              <div class="plan-items">
                <div
                  class="plan-item"
                  :data-feature="$t('pricing.generate_routines')"
                >
                  <span class="icon has-text-primary">
                    <font-awesome-icon icon="check" />
                  </span>
                </div>
                <div
                  class="plan-item"
                  :data-feature="$t('pricing.share_routines')"
                >
                  -
                </div>
                <div
                  class="plan-item"
                  :data-feature="$t('pricing.play_routines')"
                >
                  <span class="icon has-text-primary">
                    <font-awesome-icon icon="check" />
                  </span>
                </div>
                <div
                  class="plan-item"
                  :data-feature="$t('pricing.change_exercise')"
                >
                  -
                </div>
                <div
                  class="plan-item"
                  :data-feature="$t('pricing.move_exercise')"
                >
                  -
                </div>
                <div class="plan-item" :data-feature="$t('pricing.user_stats')">
                  -
                </div>
                <div
                  class="plan-item"
                  :data-feature="$t('pricing.add_new_exercise')"
                >
                  -
                </div>
                <div
                  class="plan-item"
                  :data-feature="$t('pricing.save_routines')"
                >
                  -
                </div>
              </div>
              <div class="plan-footer">
                <button
                  class="button is-fullwidth"
                  v-if="$auth.isAuthenticated"
                  @click.prevent="toggleModal('deleteModalIsActive')"
                >
                  {{ $t("pricing.delete_account") }}
                </button>
                <button
                  class="button is-fullwidth"
                  disabled="disabled"
                  v-if="!$auth.isAuthenticated"
                >
                  {{ $t("pricing.current_plan") }}
                </button>
              </div>
            </div>

            <div
              class="pricing-plan is-primary"
              :class="{
                'is-active': $auth.isAuthenticated && !isCoach && !isAdmin
              }"
            >
              <div class="plan-header">{{ $t("pricing.plans.athlete") }}</div>
              <div class="plan-price">
                <span class="plan-price-amount">
                  <span class="plan-price-currency">{{
                    $t("pricing.currency")
                  }}</span>
                  0
                </span>
                /{{ $t("pricing.month") }}
              </div>
              <div class="plan-items">
                <div
                  class="plan-item"
                  :data-feature="$t('pricing.generate_routines')"
                >
                  <span class="icon has-text-primary">
                    <font-awesome-icon icon="check" />
                  </span>
                </div>
                <div
                  class="plan-item"
                  :data-feature="$t('pricing.share_routines')"
                >
                  {{ $t("pricing.1week") }}
                </div>
                <div
                  class="plan-item"
                  :data-feature="$t('pricing.play_routines')"
                >
                  <span class="icon has-text-primary">
                    <font-awesome-icon icon="check" />
                  </span>
                </div>
                <div
                  class="plan-item"
                  :data-feature="$t('pricing.change_exercise')"
                >
                  {{ $t("pricing.author_only") }}
                </div>
                <div
                  class="plan-item"
                  :data-feature="$t('pricing.move_exercise')"
                >
                  {{ $t("pricing.author_only") }}
                </div>
                <div class="plan-item" :data-feature="$t('pricing.user_stats')">
                  <span class="icon has-text-primary">
                    <font-awesome-icon icon="check" />
                  </span>
                </div>
                <div
                  class="plan-item"
                  :data-feature="$t('pricing.add_new_exercise')"
                >
                  -
                </div>
                <div
                  class="plan-item"
                  :data-feature="$t('pricing.save_routines')"
                >
                  -
                </div>
              </div>
              <div class="plan-footer">
                <button
                  class="button is-fullwidth"
                  v-if="!$auth.isAuthenticated"
                  @click.prevent="onLogin"
                >
                  {{ $t("pricing.register") }}
                </button>
                <button
                  class="button is-fullwidth"
                  v-if="$auth.isAuthenticated && (isCoach || isAdmin)"
                  @click.prevent="onChangePlan()"
                >
                  {{ $t("pricing.downgrade") }}
                </button>
                <button
                  class="button is-fullwidth"
                  disabled="disabled"
                  v-if="$auth.isAuthenticated && !isCoach && !isAdmin"
                >
                  {{ $t("pricing.current_plan") }}
                </button>
              </div>
            </div>

            <div
              class="pricing-plan is-primary"
              :class="{
                'is-active': $auth.isAuthenticated && (isCoach || isAdmin)
              }"
            >
              <div class="plan-header">{{ $t("pricing.plans.coach") }}</div>
              <div class="plan-price">
                <span class="plan-price-amount">
                  <span class="plan-price-currency">{{
                    $t("pricing.currency")
                  }}</span>
                  5
                </span>
                /{{ $t("pricing.month") }}
              </div>
              <div class="plan-items">
                <div
                  class="plan-item"
                  :data-feature="$t('pricing.generate_routines')"
                >
                  <span class="icon has-text-primary">
                    <font-awesome-icon icon="check" />
                  </span>
                </div>
                <div
                  class="plan-item"
                  :data-feature="$t('pricing.share_routines')"
                >
                  {{ $t("pricing.1month") }}
                </div>
                <div
                  class="plan-item"
                  :data-feature="$t('pricing.play_routines')"
                >
                  <span class="icon has-text-primary">
                    <font-awesome-icon icon="check" />
                  </span>
                </div>
                <div
                  class="plan-item"
                  :data-feature="$t('pricing.change_exercise')"
                >
                  {{ $t("pricing.author_only") }}
                </div>
                <div
                  class="plan-item"
                  :data-feature="$t('pricing.move_exercise')"
                >
                  {{ $t("pricing.author_only") }}
                </div>
                <div class="plan-item" :data-feature="$t('pricing.user_stats')">
                  <span class="icon has-text-primary">
                    <font-awesome-icon icon="check" />
                  </span>
                </div>
                <div
                  class="plan-item"
                  :data-feature="$t('pricing.add_new_exercise')"
                >
                  <span class="icon has-text-primary">
                    <font-awesome-icon icon="check" />
                  </span>
                </div>
                <div
                  class="plan-item"
                  :data-feature="$t('pricing.save_routines')"
                >
                  <span class="icon has-text-primary">
                    <font-awesome-icon icon="check" />
                  </span>
                </div>
              </div>
              <div class="plan-footer">
                <button
                  class="button is-fullwidth"
                  v-if="!$auth.isAuthenticated"
                  @click.prevent="onLogin"
                >
                  {{ $t("pricing.register") }}
                </button>
                <button
                  class="button is-fullwidth"
                  v-if="$auth.isAuthenticated && !isCoach && !isAdmin"
                  @click.prevent="onChangePlan('coach')"
                >
                  {{ $t("pricing.upgrade") }}
                </button>
                <button
                  class="button is-fullwidth"
                  disabled="disabled"
                  v-if="$auth.isAuthenticated && (isCoach || isAdmin)"
                >
                  {{ $t("pricing.current_plan") }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <user-delete-modal :active.sync="deleteModalIsActive" />
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import UserDeleteModal from "@/components/UserDeleteModal";

export default {
  name: "Plans",
  components: {
    UserDeleteModal
  },
  data() {
    return {
      deleteModalIsActive: false
    };
  },
  computed: {
    ...mapGetters(["me", "isAdmin", "isCoach"])
  },
  methods: {
    toggleModal: function(modal) {
      this[modal] = !this[modal];
    },
    onLogin() {
      this.$auth.loginWithRedirect();
    },
    onChangePlan: async function(plan) {
      await this.$workoutroutine.updateUserPlan({
        user: this.me,
        plan: plan
      });
      this.$notification({
        title: this.$t("pricing.change_plan_notification"),
        color: "success",
        timeout: 5000
      });
    }
  }
};
</script>
