<template>
  <div class="card" v-if="safe_id.length && routine_size">
    <header class="card-header">
      <p class="card-header-title is-family-secondary">
        {{ $t("builder.play.title") }}
      </p>
      <a class="card-header-icon" @click.prevent="onToggle">
        <span class="icon">
          <font-awesome-icon :icon="isOpen ? 'angle-up' : 'angle-down'" />
        </span>
      </a>
    </header>
    <div class="card-content" v-if="isOpen">
      <div class="field is-horizontal">
        <div class="field-label is-small">
          <label class="label">{{
            $t("builder.play.question_exercise")
          }}</label>
        </div>
        <div class="field-body">
          <div class="control has-icons-left has-icons-right">
            <input
              class="input is-small"
              type="text"
              v-model="duration_exercise"
            />
            <span class="icon is-small is-left">
              <font-awesome-icon icon="stopwatch" />
            </span>
            <span class="icon is-small is-right">sec</span>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label is-small">
          <label class="label">{{ $t("builder.play.question_rest") }}</label>
        </div>
        <div class="field-body">
          <div class="control has-icons-left has-icons-right">
            <input class="input is-small" type="text" v-model="duration_rest" />
            <span class="icon is-small is-left">
              <font-awesome-icon icon="stopwatch" />
            </span>
            <span class="icon is-small is-right">sec</span>
          </div>
        </div>
      </div>
      <div class="field has-text-centered">
        <p class="is-size-7">
          {{
            $t("builder.play.estimate_total", {
              duration: duration_routine_total
            })
          }}
          <br />
          {{
            $t("builder.play.estimate_exercise", {
              duration: duration_routine_exercise
            })
          }}
        </p>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-small">
          <label class="label">{{ $t("builder.play.question_sound") }}</label>
        </div>
        <div class="field-body">
          <div class="field is-narrow">
            <div class="control has-icons-left">
              <div class="select is-small is-fullwidth">
                <select v-model="sound">
                  <option value="0">
                    {{ $t("builder.play.sound.bell_countdown") }}
                  </option>
                  <option value="1">
                    {{ $t("builder.play.sound.only_bell") }}
                  </option>
                  <option value="2">
                    {{ $t("builder.play.sound.mute") }}
                  </option>
                </select>
              </div>
              <div class="icon is-small is-left">
                <font-awesome-icon icon="bell" />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="control">
          <input
            type="checkbox"
            id="switchAutoscroll"
            name="switchAutoscroll"
            class="switch is-rtl is-small is-rounded"
            v-model="autoscroll"
          />
          <label for="switchAutoscroll" class="field-label is-small label">{{
            $t("builder.play.autoscroll")
          }}</label>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <a
        class="is-primary card-footer-item"
        v-on:click="startRoutine"
        v-if="obj_timer === undefined"
      >
        <span class="icon is-large">
          <font-awesome-icon icon="play-circle" class="fas fa-lg" />
        </span>
      </a>
      <span
        class="is-family-secondary card-footer-item"
        v-if="obj_timer !== undefined"
        >{{ duration_warmup - (current_counter + 1) }}</span
      >
      <a class="is-primary card-footer-item" v-on:click="pauseRoutine">
        <span class="icon is-large">
          <font-awesome-icon icon="pause-circle" class="fas fa-lg" />
        </span>
      </a>
      <a class="is-primary card-footer-item" v-on:click="stopRoutine">
        <span class="icon is-large">
          <font-awesome-icon icon="stop-circle" class="fas fa-lg" />
        </span>
      </a>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import { Mutations } from "@/store/user";
import eventBus from "@/eventBus";
import { EVENTS } from "@/constants";
import moment from "moment";

const beep = new Audio(require("@/assets/beep.mp3"));
const countDownSeconds = 3;
const durationWarmup = 5;

const updateDataWithPreferences = function(self) {
  let hasChanged = false;

  if (self.preferences?.PLAYER_DEFAULT_DURATION_EXERCISE !== undefined) {
    self.duration_exercise = self.preferences.PLAYER_DEFAULT_DURATION_EXERCISE;
    hasChanged = true;
  }
  if (self.preferences?.PLAYER_DEFAULT_DURATION_REST !== undefined) {
    self.duration_rest = self.preferences.PLAYER_DEFAULT_DURATION_REST;
    hasChanged = true;
  }
  if (self.preferences?.PLAYER_DEFAULT_SOUND !== undefined) {
    self.sound = self.preferences.PLAYER_DEFAULT_SOUND;
    hasChanged = true;
  }
  if (self.preferences?.PLAYER_DEFAULT_AUTOSCROLL !== undefined) {
    self.autoscroll = self.preferences.PLAYER_DEFAULT_AUTOSCROLL;
    hasChanged = true;
  }
  if (
    self.preferences?.PLAYER_DEFAULT_DURATION_EXERCISE !== undefined &&
    self.preferences?.PLAYER_DEFAULT_DURATION_REST !== undefined &&
    self.preferences?.PLAYER_DEFAULT_SOUND !== undefined &&
    self.preferences?.PLAYER_DEFAULT_AUTOSCROLL !== undefined
  ) {
    self.isOpen = false;
  }

  return hasChanged;
};

export default {
  name: "Player",
  computed: {
    ...mapGetters(["safe_id", "routine_size", "preferences"]),
    duration_routine_exercise() {
      return moment
        .duration(this.duration_exercise * this.routine_size, "seconds")
        .locale(this.$i18n.locale)
        .humanize();
    },
    duration_routine_total() {
      return moment
        .duration(
          this.duration_exercise * this.routine_size +
            this.duration_rest * (this.routine_size - 1),
          "seconds"
        )
        .locale(this.$i18n.locale)
        .humanize();
    },
    duration_warmup() {
      return durationWarmup;
    }
  },
  data() {
    return {
      current_counter: undefined,
      obj_timer: undefined,
      duration_exercise: 45,
      duration_rest: 20,
      sound: 0,
      autoscroll: true,
      isOpen: true
    };
  },
  methods: {
    tickCounter() {
      this.current_counter += 1;
      if (this.current_counter >= durationWarmup) {
        eventBus.$emit(
          EVENTS.START_ROUTINE,
          this.duration_exercise,
          this.duration_rest,
          this.sound,
          this.autoscroll
        );
        this.stopCounter();
      } else if (this.current_counter >= durationWarmup - countDownSeconds) {
        if (this.sound === 0) beep.play();
      }
    },
    stopCounter() {
      clearInterval(this.obj_timer);
      this.obj_timer = undefined;
      this.current_counter = undefined;
    },
    startRoutine() {
      if (this.obj_timer !== undefined) {
        return false;
      }
      this.current_counter = 0;
      const vm = this;
      this.obj_timer = setInterval(() => {
        vm.tickCounter();
      }, 1000);
    },
    pauseRoutine() {
      eventBus.$emit(EVENTS.PAUSE_ROUTINE);
    },
    stopRoutine() {
      eventBus.$emit(EVENTS.STOP_ROUTINE);
      this.stopCounter();
    },
    onToggle() {
      this.isOpen = !this.isOpen;
    }
  },
  mounted() {
    updateDataWithPreferences(this);
  },
  beforeCreate() {
    this.storeSubscribe = this.$store.subscribe((mutation, state) => {
      if (mutation.type === Mutations.UPDATE_USER) {
        updateDataWithPreferences(this);
      }
    });
  }
};
</script>

<style scoped>
.card {
  margin-bottom: 6px;
}
.card-footer-item-text {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}
.card-footer-item {
  padding: 0;
}
.card-footer-item:hover {
  background-color: #ff3b00;
  color: white;
}
.switch[type="checkbox"].is-small:checked + label::before,
.switch[type="checkbox"].is-small:checked + label::before {
  background: #ff3b00;
}
</style>
