<template>
  <div class="modal" :class="{ 'is-active': active }">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title is-family-secondary">
          {{ $t("modal.register.title") }}
        </p>
        <button
          class="delete"
          aria-label="close"
          @click.prevent="onCancel"
        ></button>
      </header>
      <section class="modal-card-body">
        <p>{{ $t("modal.register.congrats") }}</p>
        <br />
        <p>{{ $t("modal.register.body") }}</p>
        <br />
        <label class="checkbox">
          <input type="checkbox" v-model="dontIncentiveRegistration" />
          <small>{{ $t("modal.register.dontincentiveregistration") }}</small>
        </label>
      </section>
      <footer class="modal-card-foot">
        <a
          class="is-primary card-footer-item is-family-secondary"
          @click.prevent="onSubmit"
        >
          {{ $t("modal.register.register") }}
        </a>
        <a
          class="is-primary card-footer-item is-family-secondary"
          @click.prevent="onCancel"
        >
          {{ $t("modal.register.cancel") }}
        </a>
      </footer>
    </div>
  </div>
</template>

<script>
export default {
  name: "RegisterIncentiveModal",
  props: {
    active: {
      type: Boolean,
      required: false,
      default: true
    }
  },
  data() {
    return {
      dontIncentiveRegistration: false
    };
  },
  methods: {
    onSubmit() {
      this.$auth.loginWithRedirect();
    },
    onCancel() {
      this.$emit("update:active", false);
    }
  },
  mounted() {
    if (localStorage.dontIncentiveRegistration) {
      this.dontIncentiveRegistration = JSON.parse(
        localStorage.dontIncentiveRegistration
      );
    }
  },
  watch: {
    dontIncentiveRegistration(newValue) {
      localStorage.dontIncentiveRegistration = newValue;
    }
  }
};
</script>

<style lang="scss" scoped>
.modal-card-title {
  margin-bottom: 0px !important;
}
.modal-card-foot {
  padding: 0px !important;
  background-color: white;
}
.card-footer-item:hover {
  background-color: #ff3b00;
  color: white;
}
</style>
