<template>
  <div class="column">
    <div class="container configuration-block" v-if="!hasConfiguration">
      <div class="level">
        <div class="level-item has-text-centered has-text-weight-bold">
          <p class="has-text-primary">
            {{ $t("routine.configuration.title") }}
          </p>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading has-text-weight-bold">
              {{ $t("routine.configuration.size") }}
            </p>
            <p class="is-size-7">
              {{
                $tc(
                  "routine.configuration.exercises_count",
                  configuration["size"]
                )
              }}
            </p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading has-text-weight-bold">
              {{
                $tc(
                  "routine.configuration.family",
                  configuration["family"].length
                )
              }}
            </p>
            <p class="is-size-7">{{ friendlyFamilyList }}</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading has-text-weight-bold">
              {{
                $tc(
                  "routine.configuration.theme",
                  configuration["theme"].length
                )
              }}
            </p>
            <p class="is-size-7">{{ friendlyThemeList }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="timeline">
        <exercise
          v-for="(exercise, exercise_index) in exercises"
          :key="exercise_index"
          v-bind:timer="timer"
          v-bind:exercise="exercise"
          v-bind:is_phase_exercise="is_phase_exercise"
          v-bind:exercise_index="exercise_index"
          v-bind:current_exercise="selected_exercise"
          v-bind:routine_size="exercises.length"
        />
      </div>
    </div>
    <div class="container" v-if="!exercises.length">
      <span class="is-family-primary is-size-4">{{ $t("routine.empty") }}</span>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import eventBus from "@/eventBus";
import { EVENTS, STAT_EVENTS } from "@/constants";
import Exercise from "@/components/Exercise";
import { getLocalizedField, defaultLocale } from "@/locales/supported-locales";
import _ from "lodash";

const bell = new Audio(require("@/assets/bell.mp3"));
const honk = new Audio(require("@/assets/honk.mp3"));
const beep = new Audio(require("@/assets/beep.mp3"));
const countDownSeconds = 3;

export default {
  name: "Routine",
  components: { Exercise },
  computed: {
    ...mapGetters([
      "exercises",
      "routine_size",
      "getLogoByFamily",
      "getNameByFamily",
      "getNameByTheme",
      "configuration",
      "families",
      "preferences",
      "me"
    ]),
    timer() {
      return this.current_counter;
    },
    hasConfiguration: function() {
      return _.isEmpty(this.configuration);
    },
    friendlyFamilyList: function() {
      const self = this;
      let myfamilies = this.configuration["family"];
      if (_.isEqual(_.sortBy(myfamilies), _.sortBy(["*"]))) {
        myfamilies = this.families.map(function(e) {
          return e.slug;
        });
      }
      return myfamilies
        .map(function(family) {
          return self.getNameByFamily(family, self.$i18n.locale);
        })
        .join(", ");
    },
    friendlyThemeList: function() {
      const self = this;
      return this.configuration["theme"]
        .map(function(theme) {
          return self.getNameByTheme(theme, self.$i18n.locale);
        })
        .join(", ");
    }
  },
  data() {
    return {
      selected_exercise: undefined,
      duration_exercise: 45,
      duration_rest: 20,
      is_phase_exercise: true,
      current_counter: undefined,
      is_counter_paused: false,
      obj_timer: undefined,
      sound_mode: 0,
      autoscroll_mode: true
    };
  },
  methods: {
    startCounter(d_exercise, d_rest, d_sound, d_autoscroll) {
      if (this.obj_timer !== undefined && !this.is_counter_paused) {
        // this is a redundant timer
        return false;
      }
      this.sound_mode = d_sound;
      this.autoscroll_mode = d_autoscroll;
      if (!this.is_counter_paused) {
        // this is a fresh start
        if (d_exercise !== undefined) {
          this.duration_exercise = d_exercise;
        }
        if (d_rest !== undefined) {
          this.duration_rest = d_rest;
        }
        this.current_counter = 0;
        this.selected_exercise = 0;
        if (this.sound_mode <= 1) bell.play();

        if (this.$auth.isAuthenticated && this.preferences?.TRACK_ACTIVITY) {
          this.$workoutroutine.submitStatEvent({
            user_uuid: this.me?.uuid,
            event_type: STAT_EVENTS.ROUTINE_PLAY_START,
            event_detail: {
              size: parseInt(this.routine_size),
              duration_exercise: parseInt(this.duration_exercise),
              duration_rest: parseInt(this.duration_rest)
            }
          });
        }

        if (this.autoscroll_mode) {
          this.$smoothScroll({
            scrollTo: document.getElementById(
              this.exerciseReference(this.selected_exercise)
            ),
            offset: -53
          });
        }
      }
      this.is_counter_paused = false;
      const vm = this;
      this.obj_timer = setInterval(() => {
        vm.tickCounter();
      }, 1000);
    },
    pauseCounter() {
      if (this.obj_timer === undefined) {
        // this is a dummy click
        return false;
      }
      clearInterval(this.obj_timer);
      this.is_counter_paused = true;
    },
    stopCounter() {
      clearInterval(this.obj_timer);
      this.obj_timer = undefined;
      this.selected_exercise = undefined;
      this.is_counter_paused = false;
      this.is_phase_exercise = true;
    },
    tickCounter() {
      this.current_counter += 1;
      if (
        this.is_phase_exercise &&
        this.current_counter == Math.round(this.duration_exercise / 2) &&
        this.exercises[this.selected_exercise].midtime
      ) {
        // midtime for the current exercise
        if (this.sound_mode <= 1) honk.play();
      } else if (
        this.is_phase_exercise &&
        this.current_counter >= this.duration_exercise
      ) {
        // the end of current exercise
        if (this.sound_mode <= 1) bell.play();
        this.is_phase_exercise = !this.is_phase_exercise;
        this.current_counter = 0;
        if (this.selected_exercise === this.exercises.length - 1) {
          // the end of routine
          if (this.$auth.isAuthenticated && this.preferences?.TRACK_ACTIVITY) {
            this.$workoutroutine.submitStatEvent({
              user_uuid: this.me?.uuid,
              event_type: STAT_EVENTS.ROUTINE_PLAY_END,
              event_detail: {
                size: parseInt(this.routine_size),
                total_duration_exercise:
                  parseInt(this.routine_size) *
                  parseInt(this.duration_exercise),
                duration_exercise: parseInt(this.duration_exercise),
                duration_rest: parseInt(this.duration_rest)
              }
            });
          }
          this.stopCounter();
        }
      } else if (
        !this.is_phase_exercise &&
        this.current_counter >= this.duration_rest
      ) {
        // the end of current rest
        if (this.sound_mode <= 1) bell.play();
        this.is_phase_exercise = !this.is_phase_exercise;
        this.current_counter = 0;
        if (this.selected_exercise === undefined) {
          this.selected_exercise = 0;
        } else if (this.selected_exercise < this.exercises.length - 1) {
          this.selected_exercise++;
        } else {
          this.stopCounter();
        }
        if (this.autoscroll_mode) {
          this.$smoothScroll({
            scrollTo: document.getElementById(
              this.exerciseReference(this.selected_exercise)
            ),
            offset: -51
          });
        }
      } else if (
        (this.is_phase_exercise &&
          this.current_counter >= this.duration_exercise - countDownSeconds) ||
        (!this.is_phase_exercise &&
          this.current_counter >= this.duration_rest - countDownSeconds)
      ) {
        // last 3 seconds of the current phase: time to beep
        if (this.sound_mode === 0) beep.play();
      }
    },
    exerciseReference(exercise_index) {
      return "exercise_".concat(exercise_index);
    }
  },
  created() {
    eventBus.$on(
      EVENTS.START_ROUTINE,
      (d_exercise, d_rest, d_sound, d_autoscroll) =>
        this.startCounter(d_exercise, d_rest, d_sound, d_autoscroll)
    );
    eventBus.$on(EVENTS.PAUSE_ROUTINE, () => this.pauseCounter());
    eventBus.$on(EVENTS.STOP_ROUTINE, () => this.stopCounter());
  }
};
</script>
<style lang="scss" scoped>
.configuration-block {
  margin-bottom: 1rem;
}
</style>
