<template>
  <div class="container column is-one-quarter">
    <Configure />
    <Player />
  </div>
</template>

<script>
import Configure from "@/components/Configure";
import Player from "@/components/Player";

export default {
  name: "Sidebar",
  components: { Configure, Player }
};
</script>
