<template>
  <div class="modal" :class="{ 'is-active': active }">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title is-family-secondary">
          {{ $t("profile.delete.title") }}
        </p>
        <button
          class="delete"
          aria-label="close"
          @click.prevent="onCancel"
        ></button>
      </header>
      <section class="modal-card-body">
        <p>{{ $t("profile.delete.body") }}</p>
        <label class="checkbox">
          <input type="checkbox" v-model="delete_verif_one" />
          {{ $t("profile.delete.check.one") }}
        </label>
        <br />
        <label class="checkbox">
          <input type="checkbox" v-model="delete_verif_two" />
          {{ $t("profile.delete.check.two") }}
        </label>
        <br />
        <label class="checkbox">
          <input type="checkbox" v-model="delete_verif_three" />
          {{ $t("profile.delete.check.three") }}
        </label>
      </section>
      <footer class="modal-card-foot">
        <a
          class="is-primary card-footer-item is-family-secondary"
          :class="{
            'is-static':
              !delete_verif_one || !delete_verif_two || !delete_verif_three
          }"
          @click="onSubmit"
        >
          {{ $t("profile.delete.title") }}
        </a>
        <a
          class="is-primary card-footer-item is-family-secondary"
          @click.prevent="onCancel"
        >
          {{ $t("profile.update.cancel") }}
        </a>
      </footer>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import { Actions } from "@/store/user";
import moment from "moment";

export default {
  name: "UserDeleteModal",
  props: {
    active: {
      type: Boolean,
      required: false,
      default: true
    }
  },
  computed: {
    ...mapGetters(["me"])
  },
  data() {
    return {
      delete_verif_one: false,
      delete_verif_two: false,
      delete_verif_three: false
    };
  },
  methods: {
    onSubmit: function() {
      if (
        !this.delete_verif_one ||
        !this.delete_verif_two ||
        !this.delete_verif_three
      ) {
        return false;
      }
      this.$store.dispatch(Actions.DELETE_USER, {
        uuid: this.me.uuid
      });
      this.delete_verif_one = false;
      this.delete_verif_two = false;
      this.delete_verif_three = false;
      this.$auth.logout();
      this.$emit("update:active", false);
    },
    onCancel() {
      this.delete_verif_one = false;
      this.delete_verif_two = false;
      this.delete_verif_three = false;
      this.$emit("update:active", false);
    }
  }
};
</script>

<style lang="scss" scoped>
.modal-card-title {
  margin-bottom: 0px !important;
}
.modal-card-foot {
  padding: 0px !important;
  background-color: white;
}
.card-footer-item:hover {
  background-color: #ff3b00;
  color: white;
}
</style>
