<template>
  <div class="column">
    <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-64x64">
              <img class="is-rounded" :src="me.icon" />
            </figure>
          </div>
          <div class="media-content">
            <p class="title">{{ me.name }}</p>
            <p class="subtitle is-6">
              {{ me.email }}
              <span
                class="icon is-small email_verified_icon"
                v-if="me.email_verified"
              >
                <font-awesome-icon class="fas" icon="check-circle" />
              </span>
            </p>
          </div>
        </div>
        <div class="level">
          <div class="level-left">
            <div class="level-item">
              <div class="content">
                <p class="is-size-7" v-if="this.me.ts_updated !== null">
                  {{ $t("profile.lastupdate", { date: lastUpdate }) }}
                </p>
              </div>
            </div>
          </div>
          <div class="level-right">
            <div class="level-item">
              <div class="content">
                <p class="is-size-7">
                  {{ $t("profile.membersince", { date: memberSince }) }}
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="content">
          <p class="block">
            <strong>{{ $t("profile.plan.current") }}</strong>
            {{ $t(currentPlan) }} (<router-link :to="{ name: 'pricing' }">{{
              $t("profile.plan.modify")
            }}</router-link
            >)
          </p>
        </div>
      </div>
      <div class="card-footer">
        <a
          class="is-primary card-footer-item is-family-secondary"
          @click.prevent="toggleModal('updateModalIsActive')"
        >
          <span class="icon is-medium">
            <font-awesome-icon icon="user-edit" class="fas" />
          </span>
          <span>{{ $t("profile.update.button") }}</span>
        </a>
        <a
          class="is-primary card-footer-item is-family-secondary"
          @click.prevent="toggleModal('deleteModalIsActive')"
        >
          <span class="icon is-medium">
            <font-awesome-icon icon="user-times" class="fas" />
          </span>
          <span>{{ $t("profile.delete.button") }}</span>
        </a>
      </div>
    </div>
    <div class="container stats-block">
      <div
        class="columns is-multiline"
        v-if="preferences && preferences.TRACK_ACTIVITY"
      >
        <div class="column no-padding-bottom">
          <div class="card">
            <div class="card-content has-text-centered">
              <div class="content">
                <p class="heading is-6">
                  {{ $t("profile.stat.routines_per_day") }}
                </p>
                <v-calendar
                  :columns="$screens({ default: 1, lg: 3 })"
                  :step="1"
                  :locale="$i18n.locale"
                  :max-date="new Date()"
                  :attributes="calendar_attributes"
                >
                  <div slot="day-popover" slot-scope="{ day, attributes }">
                    <div class="has-text-centered is-family-secondary">
                      {{ day.ariaLabel }}
                    </div>
                    <div class="has-text-left">
                      <ul>
                        <li v-if="attributes[0].customData.played">
                          {{
                            $tc(
                              "profile.stat.plays_count",
                              attributes[0].customData.played
                            )
                          }}
                        </li>
                        <li v-if="attributes[0].customData.generated">
                          {{
                            $tc(
                              "profile.stat.generates_count",
                              attributes[0].customData.generated
                            )
                          }}
                        </li>
                      </ul>
                    </div>
                  </div>
                </v-calendar>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="columns" v-if="preferences && preferences.TRACK_ACTIVITY">
        <div class="column no-padding-bottom">
          <div class="card">
            <div class="card-content has-text-centered">
              <div class="content">
                <p class="heading is-6">
                  {{ $t("profile.stat.routines_total") }}
                </p>
                <p class="title has-text-primary">
                  {{ routines_total }}
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="column no-padding-bottom">
          <div class="card">
            <div class="card-content has-text-centered">
              <div class="content">
                <p class="heading is-6">
                  {{ $t("profile.stat.plays_total") }}
                </p>
                <p class="title has-text-primary">
                  {{ plays_total }}
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="column no-padding-bottom">
          <div class="card">
            <div class="card-content has-text-centered">
              <div class="content">
                <p class="heading is-6">
                  {{ $t("profile.stat.plays_ratio") }}
                </p>
                <p class="title has-text-primary">{{ plays_ratio }} %</p>
              </div>
            </div>
          </div>
        </div>
        <div class="column no-padding-bottom">
          <div class="card">
            <div class="card-content has-text-centered">
              <div class="content">
                <p class="heading is-6">
                  {{ $t("profile.stat.routines_length_avg") }}
                </p>
                <p class="title has-text-primary">
                  {{ routines_length_avg }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="columns is-multiline"
        v-if="preferences && preferences.TRACK_ACTIVITY"
      >
        <div class="column no-padding-bottom">
          <div class="card">
            <div class="card-content has-text-centered">
              <div class="content">
                <p class="heading is-6">
                  {{ $t("profile.stat.routines_families") }}
                </p>
                <table class="table is-striped is-hoverable">
                  <tbody>
                    <tr v-for="family in families" :key="family.slug">
                      <td>{{ getNameByFamily(family.slug, $i18n.locale) }}</td>
                      <td>
                        <progress
                          class="progress is-primary is-small"
                          :value="routines_families_ratio(family.slug)"
                          max="100"
                        >
                          {{ routines_families_ratio(family.slug) }}%
                        </progress>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="column no-padding-bottom">
          <div class="card card-followed">
            <div class="card-content has-text-centered">
              <div class="content">
                <p class="heading is-6">
                  {{ $t("profile.stat.routines_themes") }}
                </p>
                <table class="table is-striped is-hoverable">
                  <tbody>
                    <tr v-for="theme in themes" :key="theme.slug">
                      <td>{{ getNameByTheme(theme.slug, $i18n.locale) }}</td>
                      <td>
                        <progress
                          class="progress is-primary is-small"
                          :value="routines_themes_ratio(theme.slug)"
                          max="100"
                        >
                          {{ routines_themes_ratio(theme.slug) }}%
                        </progress>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-content has-text-centered">
              <div class="content">
                <p class="heading is-6">
                  {{ $t("profile.stat.total_duration_exercise") }}
                </p>
                <p class="title has-text-primary">
                  {{ total_duration_exercise }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="columns" v-if="preferences && preferences.TRACK_ACTIVITY">
        <div class="column no-padding-bottom"></div>
      </div>
      <div class="card">
        <div
          class="card-content"
          v-if="preferences && !preferences.TRACK_ACTIVITY"
        >
          <p class="is-size-5">{{ $t("profile.nostat") }}</p>
        </div>
      </div>
    </div>
    <user-update-modal :active.sync="updateModalIsActive" />
    <user-delete-modal :active.sync="deleteModalIsActive" />
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import { Actions } from "@/store/user";
import UserUpdateModal from "@/components/UserUpdateModal";
import UserDeleteModal from "@/components/UserDeleteModal";
import moment from "moment";

export default {
  name: "UserDetail",
  components: {
    UserUpdateModal,
    UserDeleteModal
  },
  data() {
    return {
      updateModalIsActive: false,
      deleteModalIsActive: false,
      userStats: null
    };
  },
  computed: {
    ...mapGetters([
      "me",
      "isAdmin",
      "isCoach",
      "preferences",
      "families",
      "getNameByFamily",
      "themes",
      "getNameByTheme"
    ]),
    memberSince: function() {
      return this.timestampToDate(this.me.ts_created);
    },
    lastUpdate: function() {
      return this.timestampToDate(this.me.ts_updated);
    },
    currentPlan: function() {
      let plan = "pricing.plans.athlete";
      if (this.isCoach || this.isAdmin) {
        plan = "pricing.plans.coach";
      }
      return plan;
    },
    routines_total: function() {
      if (this.userStats?.routines_total) {
        return this.userStats.routines_total;
      }
      return 0;
    },
    total_duration_exercise: function() {
      let d = 0;
      if (this.userStats?.total_duration_exercise) {
        d = this.userStats.total_duration_exercise;
      }
      const dur = moment.duration(d, "seconds");
      let humanDuration = "";
      if (dur.days() > 0) {
        humanDuration +=
          this.$tc(
            "profile.stat.total_duration_exercise_value_day",
            dur.days()
          ) + " ";
      }
      if (dur.hours() > 0) {
        humanDuration +=
          this.$tc(
            "profile.stat.total_duration_exercise_value_hour",
            dur.hours()
          ) + " ";
      }
      if (dur.minutes() > 0) {
        humanDuration +=
          this.$tc(
            "profile.stat.total_duration_exercise_value_minute",
            dur.minutes()
          ) + " ";
      }
      if (dur.seconds() > 0) {
        humanDuration +=
          this.$tc(
            "profile.stat.total_duration_exercise_value_second",
            dur.seconds()
          ) + " ";
      }

      return humanDuration.trim();
    },
    plays_total: function() {
      if (this.userStats?.plays_total) {
        return this.userStats.plays_total;
      }
      return 0;
    },
    plays_ratio: function() {
      if (this.userStats?.plays_start_total) {
        return Math.round(
          (this.userStats.plays_total / this.userStats.plays_start_total) * 100
        );
      }
      return 0;
    },
    routines_length_avg: function() {
      if (this.userStats?.routines_total > 0) {
        return (
          this.userStats.exercises_total / this.userStats.routines_total
        ).toFixed(1);
      }
      return 0;
    },
    calendar_attributes: function() {
      let attributes = [];
      if (this.userStats?.plays_per_day) {
        for (const day in this.userStats.plays_per_day) {
          if (this.userStats.plays_per_day[day] === 0) {
            continue;
          }
          const routine_date = moment.unix(day / 1000);
          attributes.push({
            key: routine_date.format("YYYYMMDD"),
            highlight: {
              fillMode: "solid",
              style: {
                backgroundColor: "#ff3b00"
              }
            },
            popover: {
              visibility: "hover",
              hideIndicator: false
            },
            dates: routine_date.toDate(),
            customData: {
              played: this.userStats.plays_per_day[day]
            }
          });
        }
      }
      if (this.userStats?.routines_per_day) {
        for (const day in this.userStats.routines_per_day) {
          if (this.userStats.routines_per_day[day] === 0) {
            continue;
          }
          const routine_date = moment.unix(day / 1000);
          const idx = attributes.findIndex(
            attribute => attribute.key === routine_date.format("YYYYMMDD")
          );
          if (idx !== undefined && idx > -1) {
            attributes[idx].customData[
              "generated"
            ] = this.userStats.routines_per_day[day];
          } else {
            attributes.push({
              key: routine_date.format("YYYYMMDD"),
              highlight: {
                fillMode: "solid",
                style: {
                  backgroundColor: "#ff3b00"
                }
              },
              popover: {
                label: this.$tc(
                  "profile.stat.plays_count",
                  this.userStats.routines_per_day[day]
                ),
                visibility: "hover",
                hideIndicator: true
              },
              dates: routine_date.toDate(),
              customData: {
                generated: this.userStats.routines_per_day[day]
              }
            });
          }
        }
      }
      return attributes;
    }
  },
  methods: {
    onSubmitUserUpdate: function(e) {
      this.$store.dispatch(Actions.UPDATE_USER, {
        uuid: this.me.uuid,
        name: this.me.name,
        icon: this.me.icon
      });
      this.toggleModal("updateModalIsActive");
    },
    toggleModal: function(modal) {
      this[modal] = !this[modal];
    },
    timestampToDate: function(ts) {
      let stringFormat = "MM-DD-YYYY";
      if (this.$i18n.locale === "fr") {
        stringFormat = "DD/MM/YYYY";
      }
      return moment.unix(ts).format(stringFormat);
    },
    routines_families_ratio: function(family) {
      if (this.userStats?.routines_families[family] > 0) {
        return (
          (this.userStats.routines_families[family] /
            this.userStats.routines_total) *
          100
        );
      }
      return 0;
    },
    routines_themes_ratio: function(theme) {
      if (this.userStats?.routines_themes[theme] > 0) {
        return (
          (this.userStats.routines_themes[theme] /
            this.userStats.routines_total) *
          100
        );
      }
      return 0;
    }
  },
  async created() {
    this.userStats = await this.$workoutroutine.getUserStats({
      uuid: this.me.uuid
    });
  }
};
</script>

<style lang="scss" scoped>
.email_verified_icon {
  color: #ff3b00;
}
.modal-card-title {
  margin-bottom: 0px !important;
}
.modal-card-foot {
  padding: 0px !important;
  background-color: white;
}
.card-followed {
  margin-bottom: 0.75rem;
}
.card-footer-item:hover {
  background-color: #ff3b00;
  color: white;
}
.stats-block {
  margin-top: 12px;
}
.no-padding-bottom {
  padding-bottom: 0px;
}
.vc-container {
  border: 0px;
}
</style>
