<template>
  <div class="modal" :class="{ 'is-active': active }">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title is-family-secondary">
          {{ $t("profile.update.title") }}
        </p>
        <button
          class="delete"
          aria-label="close"
          @click.prevent="onCancel"
        ></button>
      </header>
      <section class="modal-card-body">
        <div class="field is-horizontal">
          <div class="field-label">
            <label class="label">{{ $t("profile.update.name") }}</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input v-model="me.name" class="input" type="text" />
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label">
            <label class="label">{{ $t("profile.update.email") }}</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input v-model="me.email" class="input" type="text" disabled />
              </div>
              <p v-if="me.email_verified" class="help">
                <span class="icon is-small">
                  <font-awesome-icon class="fas" icon="check-circle" />
                </span>
                {{ $t("profile.update.email_verified") }}
              </p>
            </div>
          </div>
        </div>
        <hr />
        <span class="subtitle">{{
          $t("profile.update.preferences.title")
        }}</span>
        <div class="field field-pref">
          <label class="label is-small">{{
            $t("profile.update.preferences.PREFERRED_LANGUAGE")
          }}</label>
          <div class="control">
            <div class="dropdown" :class="{ 'is-active': localesDropdown }">
              <div class="dropdown-trigger">
                <button
                  class="button"
                  aria-haspopup="true"
                  aria-controls="family-filter"
                  @click.prevent="toggleDropdown"
                >
                  <span>{{ preferences.PREFERRED_LANGUAGE }}</span>
                  <span class="icon is-small has-text-primary">
                    <font-awesome-icon
                      :icon="localesDropdown ? 'angle-up' : 'angle-down'"
                    />
                  </span>
                </button>
              </div>
              <div id="family-filter" class="dropdown-menu" role="menu">
                <div class="dropdown-content">
                  <a
                    v-for="locale in locales"
                    :key="locale.code"
                    class="dropdown-item"
                    :class="{
                      'is-active': preferences.PREFERRED_LANGUAGE == locale.code
                    }"
                    @click.prevent="setPreferredLanguage(locale.code)"
                  >
                    {{ locale.name }}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="field field-pref">
          <label class="label is-small">{{
            $t("profile.update.preferences.TRACK_ACTIVITY")
          }}</label>
          <div class="control">
            <input v-model="preferences.TRACK_ACTIVITY" type="checkbox" />
            <small>
              {{ $t("profile.update.preferences.TRACK_ACTIVITY_help") }}
            </small>
          </div>
        </div>
        <div class="field field-pref">
          <label class="label is-small">{{
            $t("profile.update.preferences.CONFIGURE_DEFAULT_SIZE")
          }}</label>
          <div class="control">
            <input
              v-model="preferences.CONFIGURE_DEFAULT_SIZE"
              class="input"
              type="text"
            />
          </div>
        </div>
        <div class="field field-pref">
          <label class="label is-small">{{
            $t("profile.update.preferences.CONFIGURE_DEFAULT_FAMILY")
          }}</label>
          <div class="control">
            <div class="select is-multiple is-fullwidth is-small">
              <select
                multiple
                size="6"
                v-model="preferences.CONFIGURE_DEFAULT_FAMILY"
              >
                <option
                  v-for="family in families"
                  :key="family.slug"
                  :value="family.slug"
                  >{{ getNameByFamily(family.slug, $i18n.locale) }}</option
                >
              </select>
            </div>
          </div>
        </div>
        <div class="field field-pref">
          <label class="label is-small">{{
            $t("profile.update.preferences.CONFIGURE_DEFAULT_THEME")
          }}</label>
          <div class="control">
            <div class="select is-multiple is-fullwidth is-small">
              <select
                multiple
                size="3"
                v-model="preferences.CONFIGURE_DEFAULT_THEME"
              >
                <option
                  v-for="theme in themes"
                  :key="theme.slug"
                  :value="theme.slug"
                  >{{ getNameByTheme(theme.slug, $i18n.locale) }}</option
                >
              </select>
            </div>
          </div>
        </div>
        <div class="field field-pref">
          <label class="label is-small">{{
            $t("profile.update.preferences.PLAYER_DEFAULT_DURATION_EXERCISE")
          }}</label>
          <div class="control has-icons-left has-icons-right">
            <input
              v-model="preferences.PLAYER_DEFAULT_DURATION_EXERCISE"
              class="input"
              type="text"
            />
            <span class="icon is-left">
              <font-awesome-icon icon="stopwatch" />
            </span>
            <span class="icon is-right">sec</span>
          </div>
        </div>
        <div class="field field-pref">
          <label class="label is-small">{{
            $t("profile.update.preferences.PLAYER_DEFAULT_DURATION_REST")
          }}</label>
          <div class="control has-icons-left has-icons-right">
            <input
              v-model="preferences.PLAYER_DEFAULT_DURATION_REST"
              class="input"
              type="text"
            />
            <span class="icon is-left">
              <font-awesome-icon icon="stopwatch" />
            </span>
            <span class="icon is-right">sec</span>
          </div>
        </div>
        <div class="field field-pref">
          <label class="label is-small">{{
            $t("profile.update.preferences.PLAYER_DEFAULT_SOUND")
          }}</label>
          <div class="control has-icons-left">
            <div class="select is-fullwidth">
              <select v-model="preferences.PLAYER_DEFAULT_SOUND">
                <option value="0">
                  {{ $t("builder.play.sound.bell_countdown") }}
                </option>
                <option value="1">
                  {{ $t("builder.play.sound.only_bell") }}
                </option>
                <option value="2">
                  {{ $t("builder.play.sound.mute") }}
                </option>
              </select>
            </div>
            <div class="icon is-small is-left">
              <font-awesome-icon icon="bell" />
            </div>
          </div>
        </div>

        <div class="field field-pref">
          <div class="control">
            <input
              type="checkbox"
              id="switchAutoscroll"
              name="switchAutoscroll"
              class="switch is-rtl is-small is-rounded"
              v-model="preferences.PLAYER_DEFAULT_AUTOSCROLL"
            />
            <label for="switchAutoscroll" class="is-small label">{{
              $t("profile.update.preferences.PLAYER_DEFAULT_AUTOSCROLL")
            }}</label>
          </div>
        </div>
      </section>
      <footer class="modal-card-foot">
        <a
          class="is-primary card-footer-item is-family-secondary"
          @click.prevent="onSubmitUserUpdate"
        >
          {{ $t("profile.update.submit") }}
        </a>
        <a
          class="is-primary card-footer-item is-family-secondary"
          @click.prevent="onCancel"
        >
          {{ $t("profile.update.cancel") }}
        </a>
      </footer>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import _ from "lodash";

import { getSupportedLocales } from "@/locales/supported-locales";
import { Actions } from "@/store/user";

export default {
  name: "UserUpdateModal",
  props: {
    active: {
      type: Boolean,
      required: false,
      default: true
    }
  },
  data: () => ({
    locales: getSupportedLocales(),
    localesDropdown: false
  }),
  computed: {
    ...mapGetters([
      "me",
      "preferences",
      "families",
      "getNameByFamily",
      "themes",
      "getNameByTheme"
    ])
  },
  methods: {
    toggleDropdown() {
      this.localesDropdown = !this.localesDropdown;
    },
    setPreferredLanguage(locale) {
      this.preferences.PREFERRED_LANGUAGE = locale;
      this.localesDropdown = false;
    },
    onSubmitUserUpdate: function() {
      this.$store.dispatch(Actions.UPDATE_USER, {
        uuid: this.me.uuid,
        name: this.me.name,
        icon: this.me.icon,
        preferences: this.preferences
      });
      this.$i18n.locale = this.preferences.PREFERRED_LANGUAGE;
      this.$emit("update:active", false);
    },
    onCancel() {
      this.$emit("update:active", false);
    }
  },
  created() {
    if (_.isEmpty(this.preferences)) {
      this.preferences = {
        PREFERRED_LANGUAGE: this.$i18n.locale,
        TRACK_ACTIVITY: false,
        CONFIGURE_DEFAULT_FAMILY: [],
        CONFIGURE_DEFAULT_THEME: [],
        PLAYER_DEFAULT_SOUND: 0,
        PLAYER_DEFAULT_AUTOSCROLL: true
      };
    }
  }
};
</script>

<style lang="scss" scoped>
.email_verified_icon {
  color: #ff3b00;
}
.modal-card-title {
  margin-bottom: 0px !important;
}
.modal-card-foot {
  padding: 0px !important;
  background-color: white;
}
.card-footer-item:hover {
  background-color: #ff3b00;
  color: white;
}
.field-pref {
  margin-top: 1rem;
}
.field-pref:last-child {
  margin-bottom: 2rem;
}
.switch[type="checkbox"].is-small:checked + label::before,
.switch[type="checkbox"].is-small:checked + label::before {
  background: #ff3b00;
}
</style>
