<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta property="og:title" content="WorkoutRoutine" />
  <meta property="og:description" content="Random workout generator, easy to use and efficient." />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://workoutroutine.site/" />
  <meta property="og:image" content="https://workoutroutine.site/logo.png" />
  <meta property="og:image:alt" content="Sweat generator" />
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:creator" content="@_WorkoutRoutine">
  <meta name="twitter:title" content="WorkoutRoutine">
  <meta name="twitter:description" content="Random workout generator, easy to use and efficient.">
  <meta name="twitter:image" content="https://workoutroutine.site/logo.png">
  <meta name="Description" content="Random workout generator, easy to use and efficient.">
  <meta http-equiv="Content-Security-Policy"
    content="default-src 'self' https://workoutroutine.eu.auth0.com http://localhost:5000 https://raw.githubusercontent.com 'unsafe-eval' 'unsafe-inline'; img-src *; object-src 'none'; font-src 'self' data:;">
  <!-- generics -->
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <link rel="icon" href="<%= BASE_URL %>favicon-32.png" sizes="32x32">
  <link rel="icon" href="<%= BASE_URL %>favicon-128.png" sizes="128x128">
  <link rel="icon" href="<%= BASE_URL %>favicon-192.png" sizes="192x192">
  <!-- Android -->
  <link rel="shortcut icon" href="<%= BASE_URL %>favicon-196.png" sizes="196x196">
  <!-- iOS -->
  <link rel="apple-touch-icon" href="<%= BASE_URL %>favicon-152.png" sizes="152x152">
  <link rel="apple-touch-icon" href="<%= BASE_URL %>favicon-167.png" sizes="167x167">
  <link rel="apple-touch-icon" href="<%= BASE_URL %>favicon-180.png" sizes="180x180">
  <link rel="apple-touch-icon-precomposed" href="<%= BASE_URL %>favicon-180.png">
  <!-- fonts -->
  <link rel="preload" as="style" href="<%= BASE_URL %>fonts/baloo2/baloo2.css">
  <link rel="preload" as="style" href="<%= BASE_URL %>fonts/opensans/opensans.css">
  <link rel="preload" as="font" type="font/woff2"
    href="<%= BASE_URL %>fonts/opensans/mem5YaGs126MiZpBA-UN7rgOUuhpKKSTjw.927f45f0.woff2">
  <link rel="preload" as="font" type="font/woff2"
    href="<%= BASE_URL %>fonts/opensans/mem8YaGs126MiZpBA-UFVZ0bf8pkAg.358d3070.woff2">
  <link rel="preload" as="font" type="font/woff2"
    href="<%= BASE_URL %>fonts/baloo2/wXKuE3kTposypRyd7-P5FeMKmF0xvdg.6d8a37ec.woff2">
  <title>WorkoutRoutine</title>
</head>

<body>
  <noscript>
    <strong>We're sorry but front doesn't work properly without JavaScript enabled. Please enable it to
      continue.</strong>
  </noscript>
  <div id="app"></div>
  <!-- built files will be auto injected -->
</body>

</html>