<template>
  <div id="app">
    <router-view />
  </div>
</template>
<script>
import { Actions as familyActions } from "@/store/family";
import { Actions as themeActions } from "@/store/theme";

export default {
  watch: {
    $route(to) {
      document.title = to.meta.title[this.$i18n.locale] || "WorkoutRoutine";
    }
  },
  mounted() {
    this.$watch(
      "$i18n.locale",
      (newLocale, oldLocale) => {
        if (newLocale === oldLocale) {
          return;
        }
        document.title =
          this.$route.meta?.title[this.$i18n.locale] || "WorkoutRoutine";
      },
      { immediate: true }
    );
  },
  created() {
    this.$store.dispatch(familyActions.LIST_FAMILIES);
    this.$store.dispatch(themeActions.LIST_THEMES);
  }
};
</script>
<style lang="less">
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
#content {
  margin-top: 12px;
  margin-right: 12px;
  margin-left: 12px;
  margin-bottom: 12px;
}
</style>
