@charset "utf-8";

/* Custom Fonts */
/* Baloo 2 (from https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&display=swap) */
@import '/fonts/baloo2/baloo2.css';
/* Open Sans (from https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap) */  
@import '/fonts/opensans/opensans.css';

/* Custom Variables and Functions*/
$orange: #ff3b00;

/* Update Bulma's global variables */
$family-primary: "Open Sans", sans-serif;
$family-secondary: "Baloo 2", cursive;
$family-sans-serif: $family-primary;
$primary: $orange;
$link: $orange;
$body-background-color: #F8F8FF;
$navbar-background-color: $orange;
$navbar-item-color: #FFFFFF;

/* import the entire Bulma framework */
@import '~bulma/bulma';
@import 'bulma-timeline';
@import 'bulma-switch';
@import 'bulma-pricingtable';
