<template>
  <section id="workoutroutine">
    <Navbar />
    <section id="content">
      <div class="columns">
        <Sidebar />
        <Credit />
      </div>
      <Feedback />
    </section>
    <Footer />
  </section>
</template>

<script>
// @ is an alias to /src
import Navbar from "@/components/Navbar.vue";
import Sidebar from "@/components/Sidebar.vue";
import Credit from "@/components/Credit.vue";
import Feedback from "@/components/Feedback.vue";
import Footer from "@/components/Footer.vue";

export default {
  name: "about",
  components: {
    Navbar,
    Sidebar,
    Credit,
    Feedback,
    Footer
  }
};
</script>
