<template>
  <section id="workoutroutine">
    <Navbar />
    <section id="content">
      <div class="columns">
        <div class="column">
          <div class="tabs is-centered">
            <ul>
              <li
                v-for="tab in availableTabs"
                :key="tab.slug"
                :class="{ 'is-active': selected_tab === tab.slug }"
              >
                <a @click="changeTab(tab.slug)">{{ tab.name }}</a>
              </li>
            </ul>
          </div>
          <admin-exercises v-if="selected_tab === 'exercise'" />
          <admin-exercise-changes v-if="selected_tab === 'change'" />
          <admin-users v-if="selected_tab === 'user'" />
        </div>
      </div>
      <Feedback />
    </section>
    <Footer />
  </section>
</template>

<script>
import { mapGetters } from "vuex";
import Navbar from "@/components/Navbar.vue";
import Feedback from "@/components/Feedback.vue";
import Footer from "@/components/Footer.vue";
import AdminExercises from "@/components/AdminExercises.vue";
import AdminExerciseChanges from "@/components/AdminExerciseChanges.vue";
import AdminUsers from "@/components/AdminUsers.vue";

const listTabsCoach = [
  {
    slug: "exercise",
    name: "Exercises"
  }
];
const listTabsAdmin = [
  {
    slug: "change",
    name: "Change proposals"
  },
  {
    slug: "user",
    name: "Users"
  }
];

export default {
  name: "Admin",
  components: {
    Navbar,
    AdminExercises,
    AdminExerciseChanges,
    AdminUsers,
    Feedback,
    Footer
  },
  computed: {
    ...mapGetters(["isAdmin", "isCoach"]),
    availableTabs: function() {
      if (this.isCoach) {
        return listTabsCoach;
      } else if (this.isAdmin) {
        return listTabsCoach.concat(listTabsAdmin);
      }
      return [];
    }
  },
  data() {
    return {
      selected_tab: null
    };
  },
  methods: {
    changeTab(tab) {
      this.selected_tab = tab;
    }
  }
};
</script>
