<template>
  <section id="workoutroutine">
    <Navbar />
    <section id="content">
      <div class="columns">
        <Sidebar />
        <Routine />
      </div>
      <Feedback />
    </section>
    <Footer />
    <register-incentive-modal :active.sync="riModalIsActive" />
  </section>
</template>

<script>
import { mapGetters } from "vuex";
import Navbar from "@/components/Navbar.vue";
import Sidebar from "@/components/Sidebar.vue";
import Routine from "@/components/Routine.vue";
import Feedback from "@/components/Feedback.vue";
import Footer from "@/components/Footer.vue";
import RegisterIncentiveModal from "@/components/RegisterIncentiveModal.vue";
import { Actions } from "@/store/routine";
import eventBus from "@/eventBus";
import { EVENTS, REGISTER_INCENTIVE_FREQUENCY } from "@/constants";

export default {
  name: "home",
  props: ["routine_id"],
  components: {
    Navbar,
    Sidebar,
    Routine,
    Feedback,
    Footer,
    RegisterIncentiveModal
  },
  computed: {
    ...mapGetters(["safe_id"])
  },
  data() {
    return {
      riModalIsActive: false,
      generatedRoutinesCount: 0,
      dontIncentiveRegistration: false
    };
  },
  methods: {
    incrementGeneratedRoutinesCount() {
      this.generatedRoutinesCount++;
    }
  },
  created() {
    if (this.routine_id !== undefined) {
      this.$store.dispatch(Actions.GET_ROUTINE, {
        safe_id: this.routine_id
      });
    }
    eventBus.$on(EVENTS.GENERATE_ROUTINE, () =>
      this.incrementGeneratedRoutinesCount()
    );
  },
  mounted() {
    if (localStorage.generatedRoutinesCount) {
      this.generatedRoutinesCount = localStorage.generatedRoutinesCount;
    }
  },
  watch: {
    generatedRoutinesCount(newCount) {
      localStorage.generatedRoutinesCount = newCount;
      if (localStorage.dontIncentiveRegistration) {
        this.dontIncentiveRegistration = JSON.parse(
          localStorage.dontIncentiveRegistration
        );
      }
      if (!this.$auth.isAuthenticated && !this.dontIncentiveRegistration) {
        this.riModalIsActive = newCount % REGISTER_INCENTIVE_FREQUENCY === 0;
      }
    }
  }
};
</script>
