<template>
  <section id="workoutroutine">
    <Navbar />
    <section id="content">
      <div class="columns">
        <div class="column">
          <div class="container card has-text-centered alertcard">
            <p class="is-size-4 is-family-secondary error-title">
              {{ $t("panic.message") }}
            </p>
            <svg
              class="screamboy"
              viewBox="0 0 67 128"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
            >
              <g
                id="newbies"
                stroke="none"
                stroke-width="1"
                fill="none"
                fill-rule="evenodd"
              >
                <g id="noun_scream_2714709" fill="#ff3b00" fill-rule="nonzero">
                  <path
                    d="M33.3333333,14.1333333 C35.0666667,14.1333333 36.5333333,12.6666667 36.5333333,10.9333333 L36.5333333,3.86666667 C36.5333333,2.13333333 35.0666667,0.666666667 33.3333333,0.666666667 C31.6,0.666666667 30.1333333,2.13333333 30.1333333,3.86666667 L30.1333333,10.9333333 C30.1333333,12.6666667 31.6,14.1333333 33.3333333,14.1333333 Z"
                    id="Path"
                  ></path>
                  <path
                    d="M18.1333333,15.8666667 C18.6666667,16.9333333 19.7333333,17.4666667 20.9333333,17.4666667 C21.4666667,17.4666667 22,17.3333333 22.5333333,17.0666667 C24,16.1333333 24.5333333,14.2666667 23.7333333,12.6666667 L20.1333333,6.53333333 C19.2,5.06666667 17.3333333,4.53333333 15.7333333,5.33333333 C14.2666667,6.26666667 13.7333333,8.13333333 14.5333333,9.73333333 L18.1333333,15.8666667 Z"
                    id="Path"
                  ></path>
                  <path
                    d="M44.1333333,17.0666667 C44.6666667,17.3333333 45.2,17.4666667 45.7333333,17.4666667 C46.8,17.4666667 47.8666667,16.9333333 48.5333333,15.8666667 L52,9.73333333 C52.9333333,8.26666667 52.4,6.26666667 50.8,5.33333333 C49.3333333,4.4 47.3333333,4.93333333 46.4,6.53333333 L42.8,12.6666667 C42.1333333,14.1333333 42.6666667,16.1333333 44.1333333,17.0666667 Z"
                    id="Path"
                  ></path>
                  <circle
                    id="Oval"
                    transform="translate(33.353243, 32.645293) rotate(-89.495659) translate(-33.353243, -32.645293) "
                    cx="33.3532429"
                    cy="32.6452934"
                    r="11.8671264"
                  ></circle>
                  <path
                    d="M62.6666667,26 C59.7333333,25.0666667 56.6666667,26.6666667 55.6,29.6 L52.8,38.1333333 C51.4666667,42.2666667 48.4,45.4666667 44.4,46.9333333 C42.5333333,47.6 40.5333333,48 38.5333333,48 L28,48 C26,48 24,47.6 22.1333333,46.9333333 C18.1333333,45.4666667 15.0666667,42.2666667 13.7333333,38.1333333 L10.9333333,29.6 C10,26.6666667 6.8,25.0666667 3.86666667,26 C0.933333333,26.9333333 -0.666666667,30.1333333 0.266666667,33.0666667 L3.06666667,41.6 C5.46666667,48.9333333 10.9333333,54.8 18.2666667,57.4666667 C18.9333333,57.7333333 19.7333333,57.8666667 20.4,58 L20.4,80.6666667 C20.4,82.9333333 20.1333333,85.2 19.4666667,87.4666667 L10.8,118.533333 C9.73333333,122.266667 11.8666667,126.133333 15.6,127.066667 C16.2666667,127.2 16.8,127.333333 17.4666667,127.333333 C20.5333333,127.333333 23.3333333,125.333333 24.1333333,122.266667 L32.8,91.2 C32.9333333,90.6666667 33.0666667,90.1333333 33.2,89.4666667 C33.3333333,90 33.3333333,90.5333333 33.6,91.2 L42.2666667,122.266667 C43.0666667,125.333333 45.8666667,127.333333 48.9333333,127.333333 C49.6,127.333333 50.1333333,127.2 50.8,127.066667 C54.5333333,126 56.6666667,122.133333 55.6,118.533333 L46.9333333,87.4666667 C46.2666667,85.2 46,82.9333333 46,80.6666667 L46,58 C46.6666667,57.8666667 47.4666667,57.7333333 48.1333333,57.4666667 C55.4666667,54.8 60.9333333,49.0666667 63.3333333,41.6 L66.1333333,33.0666667 C67.2,30.1333333 65.6,26.9333333 62.6666667,26 Z"
                    id="Path"
                  ></path>
                </g>
              </g>
            </svg>
          </div>
        </div>
      </div>
      <Feedback />
    </section>
    <Footer />
  </section>
</template>

<script>
// @ is an alias to /src
import Navbar from "@/components/Navbar.vue";
import Feedback from "@/components/Feedback.vue";
import Footer from "@/components/Footer.vue";

export default {
  name: "panic",
  components: {
    Navbar,
    Feedback,
    Footer
  }
};
</script>
<style lang="less" scoped>
.alertcard {
  padding: 24px;
}
.screamboy {
  margin-top: 24px;
  width: 240px;
  height: auto;
}
</style>
