<template>
  <section id="workoutroutine">
    <Navbar />
    <section id="content">
      <div class="columns">
        <plans />
      </div>
      <Feedback />
    </section>
    <Footer />
  </section>
</template>

<script>
// @ is an alias to /src
import Navbar from "@/components/Navbar.vue";
import Plans from "@/components/Plans.vue";
import Feedback from "@/components/Feedback.vue";
import Footer from "@/components/Footer.vue";

export default {
  name: "Pricing",
  components: {
    Navbar,
    Plans,
    Feedback,
    Footer
  }
};
</script>
